[2016-09-28 18:31] Jacse commented on #187
That's cool, just thought it would be nice with an update!

[2016-09-29 05:34] beast commented on #294
maybe try this? http://codepush-managerment.19910225.com:8080/

[2016-09-29 19:20] maxim-pop commented on #326
The issue was fixed on CLI side.

[2016-09-29 19:20] #326 closed

[2016-09-30 02:31] ethantran commented on #322
@silhouettes I am getting this error and sent an email about it.

[2016-09-30 07:45] nirajbrn commented on #322
I was getting this error because, some one has re-logged to Code push account and access-key got changed. So, replace your old access key with one. Error will get resolved.

[2016-09-30 11:37] srossokha opened #328 "Can't upload code push release"
I can't upload release to the server, I'm received this issue:

Upload progress:[===========                                       ] 21% 13.7s[Error]  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>502 - W

[2016-09-30 18:56] silhouettes commented on #328
Hi! Please see #326 - your session has likely expired and you need to log out and log in again.

Please let me know if this worked for you. I'll keep this issue open until we make the CLI release that will give a clearer error message.

[2016-09-30 20:13] silhouettes commented on #328
We have released a new version of the CLI that fixes the error message. Please let me know if you still run into issues!

[2016-09-30 20:13] #328 closed

[2016-09-30 23:06] slorber commented on #328
login again worked for me.
Had the issue today, with no error message upload stopped at 13% on iOS/Android

[2016-10-01 14:17] srossokha commented on #328
Yes, it works after login again! Thanks a lot!!!

[2016-10-04 16:08] rozele commented on #306
I think this is resolved with https://github.com/Microsoft/react-native-code-push/pull/545

[2016-10-05 00:15] rozele opened #329 "CodePush service should use Cache-Control header"
In react-native-windows, the NetworkingModule used to power XHR requests has a built-in caching mechanism.  When the CodePush client makes an `updateCheck` API request, the URI is constant over time with changing data from the service, but the service does not use a `Cache-Control` header to let the client know it should not cache the response.  The cached response prevents the app from ever detec

[2016-10-05 15:06] JayElPo opened #330 "New Website Logo: Cdiscount"
Please fill the following out:

- Name: Cdiscount
- Homepage (or app store) url: https://play.google.com/store/apps/details?id=cdiscount.mobile
- Brand Guidelines/Licensing: https://en.wikipedia.org/wiki/Cdiscount
- Logo: http://lh3.googleusercontent.com/a9li2oZgpi3BN1rLLOPvxFtUe8PN8VI-nmwwclqh5Bjrt_EM4dkqjYnU7osL9tdj0w=w300-rw

[2016-10-05 16:15] PierBover commented on #247
We really need this.

React Native is a mess and Cordova apps are very limited in iOS thanks to a half baked WKWebview.

Pretty please?

[2016-10-05 18:22] silhouettes commented on #329
I will address this early next week probably, unless this is needed urgently, in which case please let me know!

[2016-10-05 18:54] rozele commented on #329
This is not urgent, CodePush users on Windows can still receive updates on app restart, but it's blocking for those who wish to check for updates on app resume or manually.  Thanks!

[2016-10-06 17:33] Wallethub commented on #247
+1

[2016-10-06 17:33] pitAlex commented on #247
+1

[2016-10-06 18:59] silhouettes opened #331 "`release-react` should work if `react-native` is not a dependency in package.json"
This was originally filed in https://github.com/Microsoft/react-native-code-push/issues/555.

Currently, `release-react` will scan the package.json of the pwd, and abort if a `react-native` dependency is not found. However, as @scerelli mentioned:

This issue has been encountered by one additional person in the past.

[2016-10-06 19:43] pke commented on #252
We also need to figure out a workflow for when using [git flow](https://github.com/petervanderdoes/gitflow-avh). In it, you basically create a release branch that is then merged into master. From master the several versions are built.
Of course to create the next release we have to `npm version patch/minor/major` the release branch. This also should update the `config.xml` version attribute to be

[2016-10-06 19:52] pke commented on #280
The option for custom lables should be:

`--label default`
`--label gitversion`
`--label "My custom label"`

| value | description |
|------|--------|
|`default/legacy`| (codepush manages the incremental `vXX` label|
| `git`| the current branch commit id |
| `my custom label`| A user provided label |

I'd love to provide a PR but the source does not seem to be public.

[2016-10-09 16:07] ksvitkovsky commented on #247
+1

[2016-10-10 12:21] pke commented on #252
Can we create a list of changes to `config.xm` that would make a code-push release impossible?

1. Changes to any `<plugin>` section
2. Changes to the widget `name`
3. Changes to resources like screens and icons I'd consider "maybe" and a codepush release can still be performed, it will just not show updated splash & icons.

What else?

[2016-10-10 22:12] daniel-beard opened #332 "Can't patch release to 100% using management SDK"
- Using the management SDK, I try to patch a release to `100%` that is at `99%` already, I get this error:

[code]

- I can patch to any number up to 100%, but not 100% itself.
- Code I'm using in JS:

[code]

- Note: I can however, release to `100%` when using the CLI:
[code]

[2016-10-10 22:28] silhouettes commented on #332
The server expects a number from 1-100. Is it possible that the value of `this.percentage` is 1 here, instead of 100?

[2016-10-10 22:29] daniel-beard commented on #332
@silhouettes double checked, the value is `100`. :/

[2016-10-10 22:55] silhouettes commented on #332
I can't seem to reproduce this :( here is what I did:

[code]

I checked the deployment history between each command and it was as expected. Does it reproduce for you if you replace all of the variables in your example above with literals?

Note that the CLI just calls into the same management SDK: https://github.com/Microsoft/code-push/blob/master/cli/script/command-executor.ts#L1090

[2016-10-10 22:58] daniel-beard commented on #332
@silhouettes thanks for the quick investigation. I'll try and reproduce again tomorrow and see if literals cause the same issue. Thanks!

[2016-10-10 23:01] silhouettes commented on #332
Thanks, please keep me updated!

[2016-10-11 10:52] arnaudleray commented on #247
+1

[2016-10-11 17:45] silhouettes commented on #329
This is now live on the service. I'm closing this issue - please close the one on the react-native repo (Microsoft/react-native-code-push#546) if you think it's resolved!

[2016-10-11 17:45] #329 closed

[2016-10-11 19:59] rozele commented on #329
Thanks @silhouettes!  I'll test it out now.

[2016-10-11 22:30] daniel-beard commented on #332
@silhouettes this was user error. The type was a string rather than a number. Thanks for looking, this issue is invalid.

[2016-10-11 22:30] #332 closed

[2016-10-11 22:44] silhouettes commented on #332
Ahh, that makes sense. Glad we could figure it out!

[2016-10-12 01:45] silhouettes opened #333 "Update the CodePush website documentation"

[2016-10-12 19:13] dbeard-groupon commented on #267
+1 Also very interested in this feature.

[2016-10-12 21:43] silhouettes commented on #294
@talisk - is this still happening for you?

As an update, we have rolled out a CDN for distributing the updates, which should speed up the download time globally. Update checks and release commands will still hit our main server, with the performance seeming to depend on where in China you are - we do have many Chinese customers, with a small subset of them reporting slow times.

[2016-10-12 21:47] silhouettes commented on #306
@andrewwebber - this is now available in `react-native-code-push@1.15.0-beta`. I'm going to close this for now, but please let me know if this solves it for you!

[2016-10-12 21:47] #306 closed

[2016-10-12 22:59] daniel-beard opened #334 "Full deployment history?"
- I've noticed that both the CLI and Management SDK default to only showing 50 most recent releases for a deployment.
- Is it possible to get a full paginated list of all releases for a deployment?
- Alternatively, would it be possible to filter by `binaryAppVersion`?

e.g.

[code]
- Current version of CLI: `1.12.6-beta`

[2016-10-13 00:14] silhouettes commented on #334
@daniel-beard - that's interesting, we never thought anyone would need more than that. How far back do you need to see? Is it just because you're managing several binary versions in the same deployment (how many, if you don't mind me asking)?

[2016-10-13 01:37] silhouettes commented on #317
Apologies for the slow response! This seems to be a duplicate of #330, so I will close this one and resolve the other one. Do you have a preference for linking to the Play store or the iTunes store? We will show the link to the Play store in the meantime.

[2016-10-13 01:37] #317 closed

[2016-10-13 17:37] daniel-beard commented on #334
Out ideal flow would look like this:

[code]

Where releases would flow from Unstable -> Staging -> Release, so there wouldn't necessarily be a limit of binary versions per deployment. It's trivial to go over the 50 releases for Debug / Unstable & Staging, for Production, 50 *should* be enough for now, but it's easy to see a future where it isn't.

Is this a non-standard way of using code-push?

A

[2016-10-13 17:52] silhouettes commented on #334
Ahh, I think I understand. We're extremely back-logged at the moment, but I would love to squeeze these two requests in. I'll try my best, but no promises!

[2016-10-13 23:57] glennray commented on #247
+1

[2016-10-14 15:38] rochestb opened #335 "How have all users update to latest version"
Hello,

I have users on a variety of versions and I need them all to be updated to the latest roll out (2.1). From what I can tell when I look at the history is that our of 12k users, none of them have or are able to update the latest version. (Active: 0% (0 of 12,409)   Total: 0 (1 pending) ). Do I need to target binaries and specify which version they should update to?

`$ code-push release-reac

[2016-10-20 00:32] chendo opened #336 "Ability to promote a specific version"
We would like the ability to be able to promote a specific version of a deployment to another deployment.

Context:

We have a Staging, Beta and Production deployments but we don't promote between deployments at the moment as promoting uses the latest release. This doesn't work for us as we would want to promote a potentially older Staging release into Beta, and the same for Beta to Production.

[2016-10-20 00:34] chendo commented on #334
@daniel-beard We want to do something similar. See #336

[2016-10-20 17:42] silhouettes commented on #336
This is a dupe of #267 - I will tag you in that issue and close this one! There is definitely interest in doing this, it's just a matter of having enough resources.

[2016-10-20 17:42] #336 closed

[2016-10-20 17:43] silhouettes commented on #267
Tagging @chendo on this issue as he had a similar request.

[2016-10-22 01:06] jvelezc commented on #247
+1

[2016-10-22 01:08] amartinez1 commented on #247
+1

[2016-10-22 01:39] talisk commented on #294
@beast Is it a service powered by Microsoft offical organization?

[2016-10-22 01:42] talisk commented on #294
@silhouettes Thx for your help. Now, CodePush networking performance in China is better than some month ago. But I still found some network error recently.

[2016-10-22 16:29] beast commented on #294
@talisk It is certainly not.

[2016-10-22 19:11] danielgek commented on #247
+1

[2016-10-24 16:26] daniel-beard opened #338 "Release from ManagementSDK - illegal operation on a directory, read"
- When using the ManagementSDK to release directly to a deployment, I get this error:

[code]

Here's the call I'm making (app and deployment names changed):

[code]

- Any help would be much appreciated!

[2016-10-24 18:17] silhouettes commented on #338
Is it possibly a permissions issue on the directory specified here? If you copy that folder to your home directory and `chmod 644` it, will it then work?

[2016-10-24 18:19] daniel-beard commented on #338
@silhouettes the permissions are already set to allow all: `drwxrwxrwx` for that folder.

[2016-10-24 18:31] silhouettes commented on #338
Ah - my apologies, I think the release function expects the folder to be zipped up, and the path to the zip to be specified. If you zip it up, does that help?

If you're curious, here is what the CLI does on `release`: https://github.com/Microsoft/code-push/blob/master/cli/script/command-executor.ts#L1100
And on `release-react`, which ends up calling `release`: https://github.com/Microsoft/code-pu

[2016-10-24 18:33] daniel-beard commented on #338
Nice, I'll test this out. Thanks for the prompt reply!

[2016-10-24 18:48] #333 closed

[2016-10-24 18:48] silhouettes commented on #318
My sincere apologies for the slow response! We added your logo to our showcase last week. I hope you're enjoying CodePush!

[2016-10-24 18:48] #318 closed

[2016-10-24 18:49] silhouettes commented on #330
My sincere apologies for the slow response! We added your logo to our showcase last week. I hope you're enjoying CodePush!

[2016-10-24 18:49] #330 closed

[2016-10-24 19:32] esauter5 commented on #318
Thanks @silhouettes!

[2016-10-24 23:17] daniel-beard commented on #338
Ok, I got it working on my side, but it would be super nice to update the ManagementSDK to be able to take either a path or a .zip file. (As this limitation wasn't clear at all from the documentation).

[2016-10-24 23:29] silhouettes commented on #338
Gotcha. Will keep this in mind moving forward, although in the short-term we're unlikely to have the time to implement this ourselves (although community contributions are always welcome!)

[2016-10-25 12:14] ca057 opened #339 "Can not perform rollback if deployment name is same as CodePush CLI command"
As stated in the title, I want to perform a rollback of an code-push update. Apparently my deployment name is "release", so it is the same as the code-push command.

**Actual Behaviour**
If I run `code-push rollback <AppName> release`, it does not perform the rollback but instead shows me usage guide for the release command.

**Expected Behaviour**
If I run the command, it interprets "release" as

[2016-10-26 20:37] andrewwebber commented on #306
@silhouettes @rozele I can now confirm, as a result of the fix, this is now working on UWP. Much appreciated!

[2016-10-26 22:18] JAStanton opened #341 "Make you typescript definition file available"
I am integrating the sdk into a service, I would love to be able to re-use your `.d.ts` files in my typescript project. Can you make this available? Thanks :)

[2016-10-26 22:40] silhouettes commented on #338
@daniel-beard Thanks so much for your great contribution! This has been published in `code-push@1.11.0-beta`. Closing this now, but feel free to come back if you need anything else!

[2016-10-26 22:40] #338 closed

[2016-10-26 22:53] silhouettes commented on #341
Hi @JAStanton, what would be the best way to expose them for you? (Published with the package, Typings/DefinitelyTyped, etc.)

Although we'd love to address this at some point, we're currently extremely strapped on resources, so a PR would be the fastest way to get this in. I can see that our repo currently auto-generates the types when building and puts them in `definitions/generated/code-push.d.

[2016-10-26 22:56] daniel-beard commented on #338
Thanks, this is going to help us a lot. :)
Will definitely be contributing in the future as well.

[2016-10-27 00:15] JAStanton commented on #341
Yeah publishing them with the package as `index.d.ts` or `typings.d.ts`. Also I think the latest hotness is the npm `@types/foo` pattern, I don't know enough about how to publish typings in npm using the `@types/` prefix but thats a good place to look.

Alright I just went down the route of copying over the generated typings as well `rest-definitions` that it relies on. Works well enough, I did ha

[2016-10-27 12:32] MrWillow opened #342 "Exclude (or include specified) files with code-push release command"
We run into an issue that our complete www directory is large (70 MB).
Most size is taken up by mp3 files.
Up till now we have been experiementing with code-push **release-cordova** ....

I can think of 2 solutions which I cannot implement.

Solution 1: Exclude a directory (or file type) in a code-push release, so the existing mp3-files stay on the devices, and we only update some js-files.
Is tha

[2016-10-27 15:39] JAStanton commented on #341
Yeah my short term fix is copying what I need from
`definitions/generated/code-push.d.ts`, I wont have the bandwidth either to
make a PR, esp. since I have a short term fix. It should be relatively
quick fix for anyone who is comfortable with npm/gulp/typescript. Thanks
for the advice

On Wed, Oct 26, 2016 at 3:54 PM Richard Hua <notifications@github.com>
wrote:

[2016-10-31 17:56] daniel-beard commented on #334
@silhouettes this is blocked by a backend change right now? Or could this be just implemented via CLI / SDK. I have time to take on any changes required in this repository.

[2016-10-31 20:26] silhouettes commented on #334
It's a bit of both... Do you have any thoughts on how we should implement pagination? We could just send the full payload from the server, and then do UI-only pagination in the CLI, although I'm wondering what the perf of that would be

[2016-10-31 20:30] daniel-beard commented on #334
Was thinking something along the lines of how octokit handles pagination. Disabled by default, you can make subsequent calls to get other pages. Or you can specify an option like `paginateByDefault`

[2016-10-31 21:33] silhouettes commented on #334
So I'd really like to do this, but the back-end change seems non-trivial :( The issue is that even with 50 releases, we're starting to hit ~70kb per deployment, so to support more releases per deployment (e.g. 1000), we'd need to be clever with how we store it in the storage layer itself, so as not to disrupt the performance for other users whenever somebody retrieves theirs. But we definitely hav

[2016-10-31 21:50] daniel-beard commented on #334
OK, sounds alright (understood on the resources front :) ). An option for backend is to return stubs or just labels + binaryAppVersions.

[2016-11-03 14:41] agergo commented on #247
+1

[2016-11-03 23:37] mskasal commented on #247
+1

[2016-11-03 23:38] PierBover commented on #247
@lostintangent do you think there is enough interest by the community?

[2016-11-04 05:58] Charlkie14 commented on #247
@PierBover I would also like to know because I think a lot of people would use this. Here is Nathanael Anderson (@NathanaelA) coming really close (well he is there is apparently just not final) but doing it through code or a plugin. Maybe you guys can ask him or work with him to get a solution without to much effort.

[2016-11-04 06:31] NathanaelA commented on #247
Unfortunately I started my plugin a long while back, before I knew about the MS code push solution, otherwise I would have probably piggybacked on it...

@Charlkie14, actually my updater plugin works fully on both iOS and Android; including hot-reloading.  If you saw the demo, the server side controls what update the client gets; the client can send a large variety of information back to the serve

[2016-11-04 15:02] hchoriq commented on #247
If you got it working, @NathanaelA , I will be the first in line to open my wallet.

[2016-11-04 15:08] PierBover commented on #247
Oh boy you really need a new website.

Telerik already offers [this functionality btw](http://www.telerik.com/platform#deploy).

[2016-11-04 15:41] hchoriq commented on #247
@PierBover yes but have you checked the cost :) :)

[2016-11-04 15:48] PierBover commented on #247
Yes, of course.

I haven't really used the product but IMO if it is as good as it looks the cost will pay itself in all the time it saves you.

[2016-11-04 18:22] NathanaelA commented on #247
@PierBover - Telerik does NOT offer the functionality for NativeScript yet, they do for PhoneGap/Cordova.    And yes, I do need a new website; it is on my list to do when I have "spare" time.  :grinning:

[2016-11-04 18:25] PierBover commented on #247
Source?

From their website it seems AppBuilder works on Cordova and NativeScript which is also developed by Telerik.

[2016-11-04 18:27] hchoriq commented on #247
AppBuilder is just an IDE. Certain AppBuilder features may or may not work on different platforms for projects (HTML5, Cordova/PhoneGap and NativeScript). Anyway, getting off topic.

[2016-11-04 18:28] PierBover commented on #247
You are right about AppBuilder, but they do have a CodePush like service:

http://docs.telerik.com/platform/appbuilder/nativescript/appmanager-livesync/overview

[2016-11-04 20:52] NathanaelA commented on #247
@PierBover - Interesting I didn't know they actually got it working on NativeScript, I hadn't seen that; I wonder if it is an already shipping feature, or something shipping soon -- I haven't heard anyone mention it in the NS community!

[2016-11-04 20:56] PierBover commented on #247
Yeah probably because it's not affordable for solo devs and small companies.

[2016-11-04 21:00] hchoriq commented on #247
LiveSync is different. When I deploy an app through the Nativescript Companion App, I can make changes in AppBuilder on desktop, save those changes and Appbuilder "auto-syncs" (not completely auto because you need to swipe sometimes, but close enough) and the changes appear quickly on the Nativescript Companion App. Think hot-reload during development. It really is cool for development. But it's a

[2016-11-04 21:01] PierBover commented on #247
You are referring to AppBuilder LiveSync.

I'm referring to AppManager LiveSync.

[2016-11-04 21:03] hchoriq commented on #247
Ooooh completely missed that.

[2016-11-04 21:05] PierBover commented on #247
Nope. Check the link I posted earlier. It's for NS.

[2016-11-09 08:50] debugcheck opened #344 "New Website Logo:天弘爱理财"
Please fill the following out:

- Name: Tianhong Asset Management Co. , Ltd
- Homepage (or app store) url: http://www.thfund.com.cn/
- Brand Guidelines/Licensing: (or anything we need to know before using your logo)
- Logo: (svg if possible, pngs over 300x300px with transparent backgrounds are also acceptable)

[2016-11-10 14:59] SoHotSoup opened #345 "Add error codes for server errors during release"
Hi! Could you please add some error codes in errors that may happen while using CLI or SDK? For example, I want to handle this error:
[code]
And I don't want to match a handler dependent on an error message, it would be more error prone if there would be some code on each error.

 I'm using these versions:
[code]

[2016-11-10 19:09] silhouettes commented on #345
Hi @SoHotSoup, would one of the following two options help solve your current situation?

1. The `--noDuplicateReleaseError` [flag](https://github.com/Microsoft/code-push/tree/master/cli#releasing-updates-general) in the CLI, which converts it from an error into a warning.
2. The latest [management SDK](https://github.com/Microsoft/code-push/tree/master/sdk), which indeed has [error codes](https:/

[2016-11-10 21:24] SoHotSoup commented on #345
Hey @silhouettes! Both would work for me! Thank you for the fast response!

[2016-11-10 21:24] #345 closed

[2016-11-17 03:06] pixelwhip commented on #290
The version number tripped me up too. My app was set to 1.0. Changing it to 1.0.0 fixed it.

[2016-11-20 19:07] ef33zy opened #347 "iOS app from PGB: 400: An update check must include a binary version that conforms to the semver standard (e.g. '1.0.0')."
Hi,

I am using code-push plugin for my app built using PhoneGap Build.

Firstly, the plugin is completely dependent on using cli, which defeats the PGB purpose... nonetheless, I've managed to get the pushing of updates working on Android.

However, when I'm debugging my iOS, I see the below error:
``
[CodePush]  400: An update check must include a binary version that conforms to the semver standa

[2016-11-21 02:23] timzaak commented on #344
@debugcheck   Is it fast enough in China? I mean because of GTW, this may cause network failure. If your app solve this problem, or the problem does not exist?

[2016-11-22 13:56] debugcheck commented on #344
@timzaak  Yes,  in China,  App Store： https://itunes.apple.com/us/app/tian-hong-ai-li-cai-yu-e-bao/id1132006561?l=zh&ls=1&mt=8

[2016-11-23 05:10] timzaak commented on #344
@debugcheck I want to know how to solve server network problem if it is ok to tell？

如果可以的话，我能否知道是怎么解决服务器端网络问题的吗？

[2016-11-30 02:09] dudeinthemirror opened #348 "code-push release-react hits `JavaScript heap out of memory`, then reports success"
code-push --version
1.12.3-beta

Running `code-push release-react` (MacMini, OS X El Capitan, 16GB RAM, 1TB disk).
A stack trace is thrown indicating `JavaScript heap out of memory`, however, code-push reports `Successfully released an update`

Here is the log:

[code]

The app then crashes upon open with this exception:  ` RCTFatalException: The specified JS bundle file wasn't found within the ap

[2016-11-30 07:39] dudeinthemirror commented on #348
Update: I found a workaround for now:
adding

[code]

before the `code-push release-react` command

[2016-12-01 18:48] silhouettes commented on #348
Hi @dudeinthemirror, is there anything special about your app? We have never seen this error before.

The CodePush CLI runs the React Native CLI to bundle your app for you. If you run the following command, do you still see the out of memory error?

`react-native bundle --assets-dest /var/folders/6x/tkn340tx2fb47p4yy1x1bl7r0000gn/T/CodePush --bundle-output /var/folders/6x/tkn340tx2fb47p4yy1x1bl7r0

[2016-12-01 19:33] dudeinthemirror commented on #348
There is nothing special, it's a react-native app we've had in production for about 9 months now (x.co/Flare , x.co/FlareAndr). This only started happening in the last 3-4 days.

Running the react-native command I get this:

[code]

[2016-12-08 08:27] williamltb commented on #247
+1

[2016-12-08 16:03] mateusreis opened #349 "build.gradle not loading versionName"
Hi there, when I try to run:

`code-push release-react Myapp android`

It fails at:

[code]

On build.gradle I try:

        versionName "1.0.0"

and
        versionName "1.0"

But nothing works.

I'm using:

react-native: 0.39.0",
react-native-code-push: ^1.16.1-beta
code-push-cli@1.12.6-beta

Thanks,

Mateus

[2016-12-08 21:44] silhouettes commented on #349
Hi, can you show us the full contents of `android/app/build.gradle`?

I can maybe compare it against https://github.com/Microsoft/react-native-code-push/blob/master/Examples/CodePushDemoApp/android/app/build.gradle

[2016-12-09 06:41] simongfxu commented on #294
I have did somespeed tests  [here](http://ce.cloud.360.cn/) using [https://codepush.azurewebsites.net/](https://codepush.azurewebsites.net/).

The result is quite frustrating.

[2016-12-09 13:23] vasani-arpit opened #350 "Old Appversion in responce, App is not updating"
when I fire up `codePush.sync(null,{installMode: InstallMode.IMMEDIATE});` from the console
it sends the following ajax request having version 7.1.8 in parameter
![code-push_issue_li 2](https://cloud.githubusercontent.com/assets/6497827/21050115/cc918a8c-be3e-11e6-8cb1-7e3ec04e8e62.jpg)

but in response I am getting old version.

![image](https://cloud.githubusercontent.com/assets/6497827/21049885

[2016-12-09 14:45] mateusreis commented on #349
Hi @silhouettes, here:

`
apply plugin: "com.android.application"

import com.android.build.OutputFile

/**
 * The react.gradle file registers a task for each build variant (e.g. bundleDebugJsAndAssets
 * and bundleReleaseJsAndAssets).
 * These basically call `react-native bundle` with the correct arguments during the Android build
 * cycle. By default, bundleDebugJsAndAssets is skipped, as in deb

[2016-12-12 22:19] jcady opened #351 "Readme Docs For CLI Description Flag Incorrect"
https://github.com/Microsoft/code-push/tree/master/cli#description-parameter

The shortened flag should be `--des` not `-desc`.

[2016-12-13 04:55] braco opened #352 "isDeviceAvailable needs broader regex"
`$ code-push debug android`

yields

`[Error]  No Android devices found. Re-run this command after starting one.`

because

[code]
from [here](https://github.com/Microsoft/code-push/blob/aba4567e2664743bee38dd40de5aa1b67ae1dcea/cli/script/commands/debug.ts#L35) is not detecting my emulated device via Genymotion.

Your code is expecting

`emulator-5554	device`

but is receiving

`192.168.57.101:555

[2016-12-13 15:06] braco commented on #308
Is this related to #352?

[2016-12-18 02:54] benjaminb10 opened #353 "Which is the last react-native version supported?"
Hi, which is the last react-native version supported?

[2016-12-19 07:08] vladimir-kotikov commented on #353
Hi @benjaminb10, please take a look at the compatibility table [here](https://github.com/Microsoft/react-native-code-push#supported-react-native-platforms)

[2016-12-19 11:52] benjaminb10 commented on #353
Thanks, 'cause this table is not up to date, seen here: http://microsoft.github.io/code-push/docs/react-native.html

![screenshot_2016-12-19 12 51 42_vkkmk1](https://cloud.githubusercontent.com/assets/2952678/21311923/fcae41da-c5e9-11e6-92d7-2d8d0ac2cf39.png)

[2016-12-21 13:58] #352 closed

[2016-12-21 13:58] #308 closed

[2016-12-21 13:59] vladimir-kotikov commented on #308
Closing along with #352 - this has been fixed in #357

[2016-12-21 14:35] Pip3r4o commented on #247
ping, we have not forgotten :D

[2016-12-21 14:36] vladimir-kotikov commented on #349
This has been fixed in #358

[2016-12-21 14:36] #349 closed

[2016-12-30 12:53] max-mironov commented on #339
Hello @ca057 . fix for your issue is added as pull request to code-push repo at https://github.com/Microsoft/code-push/pull/360. Also you can try to update directly from my fork repo https://github.com/max-mironov/code-push/tree/update_yargs_to_6.5.0 if needed. Thank you!

[2017-01-02 09:30] fson opened #361 "Description links to a parked domain"
The description of this repository links to codepush.tools, which is a parked domain.

---

<img width="885" alt="screen shot 2017-01-02 at 11 25 30" src="https://cloud.githubusercontent.com/assets/497214/21586871/6b22ceac-d0de-11e6-83ca-05ab9093853d.png">

---

<img width="656" alt="screen shot 2017-01-02 at 11 26 03" src="https://cloud.githubusercontent.com/assets/497214/21586873/6f2b1126-d0de-1

[2017-01-04 03:23] aboveo opened #362 "New Website Logo: mercuryone"
- Name: mercuryone
- Homepage (or app store) url: https://itunes.apple.com/us/app/mercuryone/id1015811834?mt=8
- Brand Guidelines/Licensing: N/A
- Logo: http://mobiletest1.aboveo.com/icon.png

[2017-01-04 04:30] RemeJuan opened #363 "New Website Logo: Lusus"
Please fill the following out:

- Name: Lusus: Cycling Database
- Homepage (or app store) url: https://play.google.com/store/apps/details?id=com.lusus
- Brand Guidelines/Licensing: N/A
- Logo: https://drive.google.com/open?id=0B482XQosa0-UUWxUSDRFNmxlSDQ

[2017-01-04 20:15] emitchel opened #364 "Question regarding JS bundle"
Using code-push on react native .39.0

How do we know when we're reading from our local machine's JS bundle? I'm thoroughly confused when I setup by debug buildType to point to staging code-push key but when I'm developing (react-native run-android) I can get it to pull from my local changes, changes that haven't been pushed to staging yet. When I remove my local server I have no idea what version

[2017-01-05 10:14] TombolaShepless commented on #280
Any word on this? The project as a whole seems to be slowing down, which is worrying me about adopting CodePush for our company.

[2017-01-05 23:02] NikolaBorislavovHristov commented on #247
+1

[2017-01-09 15:34] vladimir-kotikov commented on #361
Thanks for reporting! [codepush.tools](http://codepush.tools) is now working

[2017-01-09 15:34] #361 closed

[2017-01-09 17:00] emmanuelbuah opened #366 "Is codepush still in active development?"
Hi,

Thanks for all the hard work. I'd like to know if codepush is still in active development. The last blog post was April 16. There's about 6 PR etc. Any update on this ticket will be helpful. Thanks.

[2017-01-09 19:21] ryanjsalva commented on #366
Yes, absolutely. The service is largely mature at this point, so most commits from the last 4 months have been either (a) bug fixes or (b) changes required by new versions of the React Native framework.

I gave a talk about [the future of CodePush at Reactive Conf](https://youtu.be/OmuOWbsQLmc) just two months ago. Short version: the next major evolution will be integration with crash reporting an

[2017-01-09 19:26] emmanuelbuah commented on #366
@ryanjsalva  Thanks a lot. Kudos for pushing ahead. Looking forward to taking codepush for a spin. Cheers!

[2017-01-10 12:59] max-mironov commented on #350
Hi @vasani-arpit, I've tried to reproduce the case you described above from scratch but with no success. Do you have a chance to verify your issue one more time with latest version of plugin/cli and let us know the results?

[2017-01-10 14:09] vasani-arpit commented on #350
@max-mironov Thanks for looking into my issue.
I'll update plugin and cli and let you know.

Thanks.

[2017-01-10 14:09] #350 closed

[2017-01-11 03:33] shijir38 commented on #247
+1

[2017-01-11 10:44] kjetilhp commented on #247
+1

[2017-01-11 11:34] aravind12345 opened #367 "Will code push support million requests ?"
Does the bundle will be stored in code push server? in that case will it can handle million request? what is the latency ?

[2017-01-11 22:47] rgerd commented on #335
Have you tried using the `--mandatory` flag?
https://microsoft.github.io/code-push/docs/cli.html#releasing-updates-general

[2017-01-12 00:34] mamarilmanson commented on #247
+1

[2017-01-12 09:56] adbl opened #368 "Optional release for new binary version converted to mandatory?"
We are in the process of integrating with Code Push, exciting!

I'm reading about "mandatory conversion" in https://github.com/Microsoft/code-push/tree/master/cli#mandatory-parameter

The upgrade reasoning makes sense. However, say that we have:
- Binary version `A`, with updates:
   - `v1` optional
   - `v2` mandatory
- Binary version `B` (which in this case is released after `U2` and thus will c

[2017-01-12 09:58] adbl commented on #368
We want to avoid causing a bad UX (by restarting the app due to mandatory install), if the update is not needed.

[2017-01-12 21:36] orlando commented on #335
Facing this problem too, If we use a range it doesn't update. But if we target the specific version then the update goes through

[2017-01-13 04:15] patrickomeara commented on #335
@orlando I have a similar issue how are you targeting the specific version?

[2017-01-13 06:22] Palgie commented on #294
Seem to be also getting a few frequent timeouts from Taiwan too.

[code]

[code]

[2017-01-13 13:23] orlando commented on #335
@patrickomeara so the issue is not a code-push issue, is how node-semver works. Ranges only works for non pre-release versions. https://github.com/npm/node-semver#prerelease-tags

So what I did is removing our prerelease tags from our staging environment and just using the same version syntax as production

[2017-01-14 10:09] JSGuy7 opened #369 "Cannot perform rollback to a different app version"
I've got an error when trying to rollback last release for App Version *:
Cannot perform rollback to a different app version. Please perform a new release with the desired replacement package.

![screenshot- 39](https://cloud.githubusercontent.com/assets/14164233/21954146/2140bb5a-da52-11e6-9438-9bf8275cfa4f.jpg)

Is there any way of just removing last release?

[2017-01-15 18:59] tje3d opened #370 "New Website Logo: Sportnews"
Please fill the following out:

- Name: Sportnews ( خبرورزشی )
- Homepage (or app store) url: http://cafebazaar.ir/app/com.sportnews/
- Logo: http://s9.picofile.com/file/8282570618/sportnews.png

[2017-01-15 19:40] elgerm commented on #247
+1

[2017-01-16 10:36] max-mironov commented on #369
Hello @JSGuy7 - unfortunately you cannot just remove last release from deployment history because deployment’s release history is immutable, so you cannot delete or remove an update once it has been released.
Also rollback command requires the same source package app version as the destination one. So you need two packages with the same app version parameter to preform the rollback command.
In you

[2017-01-16 16:59] ms88privat commented on #353
Yes, could you please evaluate and update the table? Thanks for the effort.

[2017-01-17 12:17] ThisIsMissEm opened #371 "Feature Request: Ability to execute custom command after react-native build"
One of the things we do as part of releasing a new version of our application (react-native powered) is to upload sourcemaps and compiled javascript to Sentry, so that we can demangle stacktraces.

We release our application using:

[code]

(It works great!)

However, we currently have to build our application multiple times just to get the correct data to ship to sentry. I can see that `code-push

[2017-01-17 14:36] slorber commented on #366
Hey @ryanjsalva great to hear

Just wondering: why not all releases are published on npm?

[2017-01-17 15:27] vjoao commented on #247
+1

[2017-01-17 19:06] csun-axsy opened #372 "New Website Logo: Axsy"
Please fill the following out:

- Name: Axsy
- Homepage (or app store) url: https://www.axsy.com/
- Brand Guidelines/Licensing: None
- Logo: PNG attached

Thanks.
![axsy logo - square](https://cloud.githubusercontent.com/assets/25183247/22035491/2851b066-dcbe-11e6-9fbb-ced7f03c786f.png)

[2017-01-19 12:19] sergey-akhalkov commented on #368
@adbl - hi!
I've tried to reproduce provided use case and got following deployment history:
![image](https://cloud.githubusercontent.com/assets/4928157/22104900/7df87d66-de52-11e6-8c51-86f99c877cf6.png)
According to `getUpdateMetadata` method output
![image](https://cloud.githubusercontent.com/assets/4928157/22104941/ad976aa0-de52-11e6-92a3-086eaff447a0.png)
server does not convert optional releas

[2017-01-19 14:02] adbl commented on #368
Excellent, thanks!

[2017-01-19 14:02] #368 closed

[2017-01-20 08:27] sergey-akhalkov commented on #364
@emitchel - hi! Seems like question about JS bundle location is similar to https://github.com/Microsoft/react-native-code-push/issues/672
To determine JS bundle location you could use:
[code]
Also I've created `isUsingReactNativeBundle` helper method in https://github.com/Microsoft/react-native-code-push/pull/673

Could you please clarify the question? If I understood it correctly, you need not to

[2017-01-25 18:20] jsappme opened #374 "I cannot log to my account anymore"
$ code-push login

I click on Microsoft Personal and it redirects me to:
https://codepush-management.azurewebsites.net/auth/callback/microsoft?code=M1f4f8195-c66c-7400-b9b2-6b8216f5e80f&state=RqxOE72urGumMFtTYrDeWTAk

giving me an Internal Server Error

[2017-01-25 18:56] alexdunae opened #375 "More informative error when login/logout is required"
[code]

When running `code-push release-react` the upload kept timing out with a server 500 error.  I eventually figured out that my session had expired and needed to logout and then login again.  Ideally there would have been a login/logout message instead of just timing out.

Thanks for Code Push -- it's great!

[2017-01-26 11:46] sergey-akhalkov commented on #375
@alexdunae - hi, thank you!
This issue was fixed in https://github.com/Microsoft/code-push/releases/tag/v1.12.6-beta, so you need just to run `[sudo] npm install code-push-cli@latest -g` command to upgrade your `code-push` version.

[2017-01-26 15:20] alexdunae commented on #375
Shoot -- sorry about that. Thanks for reply.

[2017-01-26 15:33] #375 closed

[2017-01-27 11:28] sergey-akhalkov commented on #374
@jsappme, are you still not able to log in? Could you please look at Internal Server Error in developer tools and check console log if it contains any details (exception message or probably stack trace)? Also it would be helpful if you could tell me your version of `code-push-cli` (just execute `code-push -v` command).
Just to clarify, what is the reason you tried to re-login (probably session exp

[2017-01-27 13:59] vladimir-kotikov opened #376 "Add `bundleOutput` flag to release-react to save generated bundle into specified location"
Copied from https://github.com/Microsoft/react-native-code-push/issues/646

[2017-01-27 14:06] benjaminb10 commented on #347
@ef33zy You need to change your version number 210 in your Info.plist or your config-file to 2.1.0

[2017-01-27 14:12] benjaminb10 opened #377 "Plain integer version number should be accepted by CodePush."
My app version number is 1
I prefer 1 to 1.0
My next version will be number 2, then 3, etc.
I prefer 1, 2, 3 to 1.0, 1.1, 1.2, etc.
_It's here a personal choice and off topic. Just Like what Messenger app from Facebook does, they are at their version number 100 (plain integer 100 and not 100.0)_

But when I put 1 for the value of CFBundleShortVersionString in my Info.plist file,
I have this CodePu

[2017-01-28 06:19] fungilation opened #378 "Updated React Native version support"
RN is now at 0.40 (0.41 in a few days). While CodePush only supports up to 0.35 according to docs.

Can I/we get a heads up on when is updated RN support coming? Thanks.

Note that 0.40 breaks backward compatibility in linking, so there probably needs to be a a major version bump. With a minor version update for 0.39 perhaps?

[2017-01-29 07:02] pepmanbrad opened #379 "New Website Logo: [insert name]"
Thanks so much for filing an issue or feature request! We will address it as soon as we can. Please follow these guidelines:

1. This repository is for the CodePush CLI and management SDK. For issues relating to the CodePush client SDK's, please see:
  * react-native-code-push: https://github.com/Microsoft/react-native-code-push
  * cordova-plugin-code-push: https://github.com/Microsoft/cordova-pl

[2017-01-30 08:53] sergey-akhalkov commented on #378
@fungilation,  sorry for the inconvenience, you probably have faced with out of date docs on [codepush.tools](codepush.tools) website, for now it should be fixed (I could see fresh version of [Supported React Native platforms](http://microsoft.github.io/code-push/docs/react-native.html#link-1) table)

We've fixed this in [1.17.0 version](https://github.com/Microsoft/react-native-code-push/releases

[2017-01-30 12:30] fungilation commented on #378
Ah yes, I was basing lack of support on [the docs](http://microsoft.github.io/code-push/docs/react-native.html#link-1). Thanks for correcting me and the docs!

[2017-01-30 12:30] #378 closed

[2017-01-30 17:46] axemclion commented on #376
I think we should save both the source map and the bundle at a specified location. This could simply be a flag, something like `--outputDir=`.

[2017-01-30 17:46] axemclion commented on #374
@jsappme You may also have to update the CLI to the latest version. Can you please let us know if you are still having trouble ?

[2017-01-30 17:47] axemclion commented on #379
@pepmanbrad Could you please add the logo and other brand details ?

[2017-01-30 17:48] axemclion commented on #366
@slorber We just published the latest release for react native on codepush with 0.40. Are there other artifacts that are not published on npm ?

[2017-01-30 19:45] slorber commented on #366
Hi,

I don't remember why I was posting here, I'm mostly a cordova codepush user so I may have replied to the wrong repo :)

[2017-01-30 20:00] panarasi commented on #366
Thanks. Closing the issue.

[2017-01-30 20:00] #366 closed

[2017-01-31 14:52] scopsy opened #380 "Binary updates from store are not updating app"
code-push-cli version: 1.12.6-beta

I'm using codepush with ionic application and i'm having a bit of an issue (perhaps with my understanding of the matter).

I uploaded binary version to the store : v1.0.0

Then I release newer version with codepush: v1.0.1
and again for version v1.0.2

Then I created a new binary version 1.1.0 and uploaded it to the store.
However because the Users are currently

[2017-01-31 17:51] silhouettes commented on #367
@aravind12345 - yes, the bundle is stored on the CodePush server and distributed via a CDN. The latency will depend on where in the world you are located and where our CDN nodes are - from the US we expect it to be 100 ms or less. I'm not sure what you mean when you say a million requests - we have easily served many millions of requests, but what time interval are we talking about here? How many

[2017-01-31 17:55] sergey-akhalkov commented on #364
Closing this, feel free to reopen it if needed.

[2017-01-31 17:55] #364 closed

[2017-01-31 18:14] bmwertman commented on #374
I'm just beginning to setup code-push and am seeing the same error. I initially set my app up with Hockeyapp and Fastlane. My Hockeyapp account shows that code-push has an active client token.

[2017-01-31 18:17] silhouettes commented on #376
This shouldn't be difficult to do - maybe we could ask one of the vendors to do it if the feature is well-specced?

[2017-02-01 06:44] aravind12345 commented on #367
@silhouettes  we have 700k daily active users and monthly 2M active users.  Our peak request per second would reach 5K RPS.

[2017-02-01 13:23] sergey-akhalkov commented on #380
@scopsy, could you please look at https://github.com/Microsoft/cordova-plugin-code-push/issues/196?
You probably have the same issue. I've also wrote https://github.com/Microsoft/cordova-plugin-code-push/issues/207#issuecomment-276648376 describing possible causes and ways to avoid it.
In a nutshell - please make sure you project folder does not contain any `.DS_Store` files and `__MACOSX` folders

[2017-02-01 14:38] sergey-akhalkov commented on #374
@bmwertman, could you please execute `code-push -v` command to let us know what version of `code-push-cli` is in use? Also it would be helpful if you could share us with "Internal Server Error" details - is there something else beside error message (probably console log output).

[2017-02-01 14:41] bmwertman commented on #374
Yes, code-push version is 1.12.6-beta Here is a  screen shot of the error along with the console output.
![screen shot 2017-02-01 at 8 46 16 am](https://cloud.githubusercontent.com/assets/2573903/22511113/8f7cbaf6-e862-11e6-9b43-fd7b44c25381.png)

[2017-02-01 14:54] bmwertman commented on #374
I should add; I deleted the token from Hockeyapp and closed my Visual Studio Team Services account that created the token in Hockeyapp.

I actually started trying to use VSTS. But moved to Fastlane when I couldn't get my Cordova build working correctly on VSTS.

I was thinking this may free up my app to generate a new authorization. But I was getting this same error before doing both of those thin

[2017-02-01 19:37] silhouettes commented on #374
Hey @bmwertman, could you contact codepush@microsoft.com and send us the email associated with your account?

[2017-02-01 19:38] bmwertman commented on #374
Yes, one second.

[2017-02-01 19:41] bmwertman commented on #374
Sent.

[2017-02-01 21:51] bmwertman commented on #374
@silhouettes were you able to find anything with the account associated with my email?

[2017-02-01 22:22] silhouettes commented on #374
@bmwertman - Apologies, there is a lot on my plate at the moment, I will try my best to update you within a day :)

[2017-02-01 22:23] bmwertman commented on #374
Cool, just checking in. Thanks!

[2017-02-02 10:02] cderue commented on #247
+1

[2017-02-02 14:14] slorber opened #381 "Add local runnable binary"
Hi,

Would it be possible to make it easy to use a locally installed version of code-push. The idea is to fix the codepush version directly inside the devDependency of the projects so that users don't have to figure out which version to install etc.

I think it works like that in package.json:

[code]

And then we can run local command ./node_modules/.bin/code-push

[2017-02-02 18:43] gillesBzk opened #383 "code-push: command not found when trying to registrer"
I try to use Code Push for react-Native  but when i try to register with code-push register
 i get a command not found.

I m on mac os 10.11.6 and i  have installed  :
react-native-code-push
-g code-push-cli

Here the process and the log

npm install --save react-native-code-push@latest
gilless-MacBook-Pro:ParisFoodiesApp gillesB$ npm install --save react-native-code-push@latest
(node:5005) fs: re

[2017-02-02 19:31] silhouettes commented on #381
I'm assuming you're referring to the CodePush CLI as opposed to the management SDK. In that case, I think you can do the following:

[code]

Is this what you're looking for?

[2017-02-02 21:39] stefalda commented on #247
+1

[2017-02-02 21:47] mehmetcanker opened #384 "New Website Logo: E-gazete: Günlük Gazete Keyfi"
- Name: E-gazete: Günlük Gazete Keyfi
- Homepage (or app store) url: https://play.google.com/store/apps/details?id=com.readjournal.hurriyetegazete
- Brand Guidelines/Licensing: NONE
- Logo: https://lh3.googleusercontent.com/WFqtNJ4mXzUIfYqNIcLXf9Ua-NVkyamcuaGbtlWawZU6t6042PpioLqR0Nr5gtC2UIAQ=w300

[2017-02-03 01:41] silhouettes commented on #367
Hi @aravind12345, @maxim-pop and I have discussed this and we're comfortable supporting this load, we'll just need to scale out beforehand. Before we do this, could you email us at codepush@microsoft.com with some more details:

- What is your company or app?
- When do you intend to start?

[2017-02-03 03:55] perjerz3434 commented on #247
+100

[2017-02-03 14:53] sergey-akhalkov commented on #383
@gillesBzk, are you using Homebrew's version of the node? Could you please try to remove `prefix=/usr/local/Cellar/node/0.12.2_1/libexec/npm` line from `/usr/local/lib/node_modules/npm/npmrc` file and verify it it works for you?

[2017-02-03 15:46] gillesBzk commented on #383
Hello Serge
Yes i have installed node via Homebrew
There is no npmrc
in /usr/local/lib/node_modules/npm/npmrc

[2017-02-03 16:49] gillesBzk commented on #383
When i edit my nam config file i get
npm config edit
; save-dev=false
; save-exact=false
; save-optional=false
; save-prefix=^
; scope=
; searchopts=
; searchexclude=null
; searchsort=name
; shell=/bin/bash
; shrinkwrap=true
; sign-git-tag=false
; strict-ssl=true
; tag=latest
; tag-version-prefix=v
; tmp=/var/folders/mq/7sg6zgq50c15sw6q9wjw1nyw0000gp/T
; unicode=true
; unsafe-perm=true
; usage=fal

[2017-02-06 08:04] srameshr opened #385 "New Website Logo: Frangout"
- Name: Frangout
- Homepage (or app store) url: http://frangout.com
- Logo: http://frangout.com/public/assets/images/logo.png

[2017-02-06 10:07] sergey-akhalkov commented on #383
@gillesBzk, seems like you have failed into this issue: https://gist.github.com/DanHerbert/9520689
To make global packages usable you should probably do following:

`export PATH="$HOME/.npm-packages/bin:$PATH"`
Now you can re-install any global npm packages you need without any problems.

Please let me know if it helps.

[2017-02-06 19:20] keertimaan commented on #267
@shishirx34 I am wondering if you have plans to address this issue soon?

[2017-02-06 19:33] shishirx34 commented on #267
@silhouettes should be able to answer it.

[2017-02-06 22:51] jr-k opened #386 "Release on all platforms with one command"
Hello,

I've a question about releasing process.  I developed an application with react-native for both ios and android and for now when I need to send an update I'm doing that:

`code-push release-react myApp android -d Production -m true --des "some improvements"`

Then when I type `code-push deployment ls myApp` I see "Label v10" with my comments and so on. But now I want to send an update for

[2017-02-07 04:08] samuelplaymore commented on #374
@silhouettes Sorry to bother you, I encountered the same error. I cannot login to my account and got the same "Internal error". I have just sent my account information to the email codepush@microsoft.com . Would you mind to have a look? thanks.

[2017-02-07 07:03] axemclion commented on #374
@samuelplaymore We will look at it. In the meantime, can you confirm that you are using the latest version of the CLI ?

[2017-02-07 08:51] samuelplaymore commented on #374
Hi,

yes. And I tried 'npm update'.
my version now is "1.12.6-beta".

Thanks.

On Tue, Feb 7, 2017 at 3:03 PM, Parashuram N <notifications@github.com>
wrote:

[2017-02-07 10:19] sergey-akhalkov commented on #386
@jr-k, from official documentation:

For more details please look at [App Management chapter](https://github.com/Microsoft/code-push/tree/master/cli#app-management)
Let me know if you have any questions or see any issues.

[2017-02-07 10:20] jr-k commented on #386
Oops, sorry for the rtfm issue

[2017-02-07 10:29] sergey-akhalkov commented on #386
@jr-k, no problem, closing the issue, feel free to reopen if needed.

[2017-02-07 10:29] #386 closed

[2017-02-07 11:11] max-mironov commented on #369
Closing the issue, @JSGuy7 - feel free to open new one if you have questions regarding this.

[2017-02-07 11:11] #369 closed

[2017-02-07 12:18] adriano-di-giovanni opened #388 "Is it possible to release incremental updates?"
Is it possible to release an update in order to replace some files only?

[2017-02-07 12:46] adriano-di-giovanni commented on #291
@silhouettes,
I understand that CodePush handles deployments as follows:
* diffs deployment(i) with deployment(i-1)
* sends new and updated files to clients
* removes deleted files on clients

If so, updates are always incremental but we send the whole app.

Do you confirm?

Thanks

[2017-02-07 16:15] adriano-di-giovanni opened #389 "release-cordova and cordova prepare"
I'd like to know why you need to `cordova prepare`. Is it just to take `merges/` into account? Do you include cordova files such as javascript code for plugins and the library itself?

[2017-02-07 16:18] gillesBzk commented on #383
Hello Sergey

I have Add export PATH="$HOME/.npm-packages/bin:$PATH"  to my bash_profile:
and Installed Code Push again

gilless-MacBook-Pro:~ gillesB$ sudo npm install -g code-push-cli
Password:
(node:5904) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
npm WARN deprecated node-uuid@1.4.7: use uuid modu

[2017-02-07 16:25] sergey-akhalkov commented on #383
@gillesBzk, could you please try to re-install node as described in https://gist.github.com/DanHerbert/9520689?

[2017-02-07 16:41] gillesBzk commented on #383
ok i will do and let u know

[2017-02-07 16:57] sergey-akhalkov commented on #389
@adriano-di-giovanni, thanks for the question.
`cordova prepare` command produces update contents that are stored in `myapp/platforms/android/assets/www` folder. This folder includes contents from `myapp/www` folder, plugins javascript files and some cordova platform-specific javascript files:
![image](https://cloud.githubusercontent.com/assets/4928157/22701756/a4289710-ed6f-11e6-959b-6a346f4b7e26

[2017-02-07 17:41] adriano-di-giovanni commented on #389
@sergey-akhalkov, thanks for your reply.

I'm going to ask you two more questions.

If I understand, I could also update `cordova.js` and javascript side of plugins. This could lead to inconsistencies between javascript and native sides of the cordova app. Am I correct? If so, why did you choose to include cordova-platform-specific javascript files? What are the benefits of this approach?

The rea

[2017-02-07 17:49] adriano-di-giovanni opened #390 "Best practices to manage environments"
What are the best practices to manage staging and production environment for both Android and iOS?

We plan to specify the `deploymentKey` for production in `config.xml` and override it using [`SyncOptions`](https://microsoft.github.io/code-push/docs/cordova.html#syncoptions) if the app is in debug mode.

Any advice?

[2017-02-07 18:08] sergey-akhalkov commented on #390
@adriano-di-giovanni, could you please look at [App Management](https://github.com/Microsoft/code-push/tree/master/cli#app-management) and [Deployment Management](https://github.com/Microsoft/code-push/tree/master/cli#deployment-management) chapters and let me know if you have any questions?

[2017-02-07 18:14] adriano-di-giovanni commented on #390
@sergey-akhalkov, I already read both chapters. I'd like to know if best practices emerged in managing environments.

[2017-02-07 20:21] silhouettes commented on #291
@adriano-di-giovanni - yes, everything you said is more or less correct. You always upload the whole app, and the update sent to clients is typically incremental. We also generate diffs for multiple versions beyond (i-1), but I can't be specific how many versions back because that may change.

[2017-02-07 20:23] silhouettes commented on #388
I believe your question was addressed in #291 - closing for now, but feel free to ask additional questions!

[2017-02-07 20:23] #388 closed

[2017-02-08 09:45] sergey-akhalkov commented on #376
Closing this due to https://github.com/Microsoft/code-push/pull/382 has been merged.

[2017-02-08 09:45] #376 closed

[2017-02-08 10:05] samuelplaymore commented on #374
@axemclion @silhouettes  Sorry to bother you. My update is urgent, would you mind to have a look?
thanks for your help.

[2017-02-08 10:12] max-mironov commented on #344
@debugcheck - hi, could you please also provide us with logo so we can add this to our http://microsoft.github.io/code-push/community/friends.html page?

[2017-02-08 17:58] gillesBzk commented on #383
Thanks, It Works !

[2017-02-08 18:29] #383 closed

[2017-02-08 19:17] silhouettes commented on #374
I believe @sergey-akhalkov is investigating this!

[2017-02-08 20:50] Hunter-Dolan opened #391 "New Website Logo: Toga"
Please fill the following out:

- Name: Toga
- Homepage (or app store) url: https://toganews.com/
- Brand Guidelines/Licensing: N/A
- Logo: https://cdn.togaapp.com/logos/app_icon.png?/code_push_icon

[2017-02-09 06:56] srameshr opened #392 "Production release, runs the command cordova build"
[code]

This command runs ```cordova build ios``` and not ```cordova build ios --release```

[2017-02-09 08:40] max-mironov commented on #372
@csun-axsy thanks, your logo has been added!

[2017-02-09 08:40] #372 closed

[2017-02-09 08:40] max-mironov commented on #384
@mehmetcanker thanks, your logo has been added!

[2017-02-09 08:40] #384 closed

[2017-02-09 08:41] max-mironov commented on #385
@srameshr thanks, your logo has been added!

[2017-02-09 08:41] #385 closed

[2017-02-09 08:41] max-mironov commented on #362
@aboveo thanks, your logo has been added!

[2017-02-09 08:41] #362 closed

[2017-02-09 08:42] max-mironov commented on #370
@tje3d thanks, your logo has been added!

[2017-02-09 08:42] #370 closed

[2017-02-09 08:43] max-mironov commented on #363
@RemeJuan thanks, your logo has been added!

[2017-02-09 08:43] #363 closed

[2017-02-09 09:46] sergey-akhalkov commented on #353
@ms88privat, the website docs has been updated, thanks! Also in the future we'll probably have an automatic synchronization between the website and GitHub docs: https://github.com/Microsoft/react-native-code-push/pull/681

[2017-02-09 09:46] #353 closed

[2017-02-09 11:46] sergey-akhalkov commented on #374
Yes, I'm working on it, will let you know if I have any results.

[2017-02-09 11:53] srameshr commented on #389
@adriano-di-giovanni How do you manage your release cycles, syncing your code-push and app store releases? Some guidelines that has to be followed in order not to mess up?

[2017-02-09 14:15] adriano-di-giovanni commented on #389
@srameshr, we're new to CodePush and we're investigating possible scenarios these days.

[2017-02-09 14:23] srameshr commented on #389
@adriano-di-giovanni Same here. Had to rollback couple of times.

[2017-02-09 19:25] keertimaan commented on #267
@silhouettes ^^^

[2017-02-09 20:09] silhouettes commented on #267
@max-mironov Would you be able to implement this?

[2017-02-10 08:46] max-mironov commented on #267
@silhouettes sure, I'll take this!

[2017-02-10 10:40] sergey-akhalkov commented on #374
Seems like there is something wrong with CodePush app permissions or with Microsoft account, because while investigating CodePush management server logs I've found, that there are exceptions with the following content:
[code]
As for me I've got following:
[code]
It is really weird that `user` object has no values for properties except id property. So the Internal Server Error occurs due to `"email

[2017-02-10 12:18] samuelplaymore commented on #374
@sergey-akhalkov thanks for your help. My problem was resolved. Btw, it was so strange that my basic information (i.e First Name and Last Name) were missed in the Microsoft Account. After filling the basic info, the "code-push login" worked properly. Thanks.

[2017-02-10 12:26] sergey-akhalkov commented on #374
@samuelplaymore, great, thanks for the response! I've updated my comment to make sure basic info is filled.

[2017-02-10 13:37] adriano-di-giovanni opened #393 "Failed to load resource"
I successfully tested CodePush deployments using `code-push release-cordova`.

I have to say I don't like to deploy cordova-platform-specific files (such as cordova.js) together with my `www/` files. Doing this
* could lead to inconsistencies
* forces my team mates to have cordova and the cordova project on their machine just to deploy an update with code-push.

I then tried to use `code-push rele

[2017-02-11 00:18] silhouettes commented on #374
Great work @sergey-akhalkov :) Seeing as this has not happened before this period, I'm wondering if something about Microsoft accounts changed (e.g. email addresses became optional, or some new way of generating accounts with no email was created). If possible, could you try to implement a fix on the service that does not throw an exception, and displays a more user friendly error message?

[2017-02-11 05:03] zk commented on #215
I've just run into this as well, how about an env var? I'm happy to patch if you all are open to it.

[2017-02-12 15:31] cxy200927099 commented on #231
hi @lostintangent ：
   I also have the same problem, but i do not use cordova-plugin-code-push; how can i fix this problem?
my code-push version is 1.12.6-beta, do i need update? how can i update code-push if need because i could not find any command just like 'code-push update'
thanks!

[2017-02-13 05:16] fashaikh commented on #247
+1

[2017-02-13 07:04] sergey-akhalkov commented on #374
@silhouettes, got it, will do.

[2017-02-13 08:14] max-mironov commented on #351
Changes have been merged, thank you!

[2017-02-13 08:14] #351 closed

[2017-02-13 08:23] sergey-akhalkov commented on #231
@cxy200927099, you are using the latest version of code-push, if you want to update it, you could run `npm install -g code-push-cli@latest` command.

Could you please create new issue and provide us with more details (current binary version of your app, deployment history - `code-push deployment history <appName> <deploymentName>`, version of `react-native-code-push`, repro steps)?

[2017-02-13 10:42] sergey-akhalkov commented on #380
@scopsy, could you please let us know if you still experiencing the issue?

[2017-02-13 10:49] sergey-akhalkov commented on #371
@ThisIsMissEm, I've recently implemented `--outputDir=PATH` parameter https://github.com/Microsoft/code-push/pull/382 that needed to specify folder PATH where assets, js bundle and sourcemap files will be written. Please let me know if it works for you.

[2017-02-13 15:12] sergey-akhalkov commented on #348
@dudeinthemirror, are you still experiencing the issue? Please let us know if you need any help.

[2017-02-13 18:07] dudeinthemirror commented on #348
@sergey-akhalkov : no, after adding `export NODE_MEMORY=8000` before the `code-push release-react` command, never saw that error again

[2017-02-14 01:11] #348 closed

[2017-02-14 15:56] sergey-akhalkov commented on #339
Closing this due to fix #360 has been merged, please feel free to reopen if you see any issues or have any questions.

[2017-02-14 15:56] #339 closed

[2017-02-14 15:57] sergey-akhalkov commented on #379
@pepmanbrad, just a friendly ping.

[2017-02-14 16:00] sergey-akhalkov commented on #381
@slorber, please let us know if we could help you or if the issue has been resolved.

[2017-02-14 16:06] sergey-akhalkov commented on #374
Closing this for now due to CodePush server has been updated to show the instruction that describes how to avoid the issue.

[2017-02-14 16:06] #374 closed

[2017-02-14 16:12] sergey-akhalkov commented on #313
@ziggyJ, please let us know if  you see any issues or have any questions.

[2017-02-15 03:22] silhouettes commented on #215
@zk if you're willing to submit a PR, and it is solid, we're happy to take it :)

[2017-02-15 03:31] zk commented on #215
@silhouettes Great, I'll take a look. Thanks!

[2017-02-15 12:24] slorber commented on #381
hmmm yes that seems to work thanks sorry for the delay

[2017-02-15 12:24] #381 closed

[2017-02-16 13:00] max-mironov commented on #344
Closed for now, please feel free to reopen if needed.

[2017-02-16 13:00] #344 closed

[2017-02-17 03:58] cxy200927099 commented on #231
@sergey-akhalkov,I'm sorry, reply late，i will do a new reply after test it

[2017-02-17 08:46] sergey-akhalkov commented on #267
Closing this due to #394 has been merged, please feel free to reopen if needed.

[2017-02-17 08:46] #267 closed

[2017-02-17 13:08] frontweb commented on #342
@MrWillow did you find a solution to these scenarios?

[2017-02-17 17:01] weivea opened #396 "does the code-push server can prevent Man-in-the-MiddleAttack?"
does the code-push server can prevent Man-in-the-MiddleAttack?

[2017-02-17 20:04] silhouettes commented on #342
@MrWillow @frontweb - although we ask that you upload your whole www directory with each release, the server performs file-based diffing, so only updated and new files are sent to client devices. In other words, we don't think you should have to perform the task of manually specifying which tasks to update as that has been automated on the server. Does this make sense?

[2017-02-17 20:06] silhouettes commented on #396
@weivea - All communications with the server are done via https, which should prevent man-in-the-middle attacks. Closing this for now but please let me know if you have a more specific question!

[2017-02-17 20:06] #396 closed

[2017-02-17 23:17] ef33zy commented on #347
Hi @benjaminb10  apologies for not posting earlier.

Since I am building with PhoneGap Build, I removed the below section from my `config.xml` file, and I didn't see the problem anymore.

[code]

I have also closed out the [issue #187](https://github.com/Microsoft/cordova-plugin-code-push/issues/187) I raised in the cordova-plugin-code-push repository.

[2017-02-17 23:17] #347 closed

[2017-02-18 07:37] frontweb commented on #342
@silhouettes thanks for the clarification. So if I get it right, a file that exists in the /www folder at install time won't be deleted on a CodePush update if that file is not in the CodePush update, right?

[2017-02-19 12:57] galvesribeiro opened #397 "Future of code-push"
Hello guys,

First of all congrats for this awesome product!

We are engaging in a new product here and we were looking to a solution deploy react-native (or other JS-based apps) to target devices.

Someone from react-native's discord pointed me out CodePush so I have a couple of questions before move forward:

1. What is the future of Code-Push? I see no activity here, in the blog and on discord

[2017-02-19 18:30] ryanjsalva commented on #397
The project is still very much alive. Fortunately, CodePush is also stable and relatively feature-complete as as stand-alone service, so we've been focusing development on v2 which integrates CodePush with continuous integration, crash reporting, analytics, and test services through Mobile Center (http://mobile.azure.com). CodePush will continue to run side-by-side with Mobile Center for the fores

[2017-02-19 18:39] galvesribeiro commented on #397
@ryanjsalva that is great to hear :) thanks for the quickly reply.

So, I should use the current service while it is not on Mobile Center yet. Ok.

Regarding PCI, if you could pass your alias I can ping you on SfB at corpnet and I can pass more details about the project.

What about the other scenario I mentioned with reactjs (non-react-native) apps? Can I use code-push as well?

Thanks!

[2017-02-20 01:36] kimown opened #398 "Can I use self code push server?"
Like this issue https://github.com/Microsoft/code-push/issues/294 , the network is bad in china.

So I want to know can we use a self server, like this question: http://stackoverflow.com/questions/37406913/can-developers-build-a-self-code-push-server-using-ms-code-push-service

[2017-02-20 06:44] #313 closed

[2017-02-21 02:32] workzhushengquan opened #400 "about version"
code-push 1.12.6-beta
use code-push release myapp ./rnbundle 1.0 -d "Staging"
but i make release version app 1.0 , 1.0.1 and 1.2
1.0 can check the update info
1.0.1 also can check the update info
why make this problem
1.2 can not check the update info , it is right

[2017-02-21 08:42] max-mironov commented on #400
Hello @workzhushengquan, as far as I get you question you have the following:
a) released version 1.0 of the app
b) received updates for 1.0 and do not received updates for 1.2 (which is correct)
c) is confused why 1.0.1 is also receiving the updates.

So the reason of why 1.0.1 is also getting the updates is that
`semver.satisfies(1.0 1.0.1)` will return true. So by releasing version 1.0 you are

[2017-02-21 08:56] workzhushengquan commented on #400
@max-mironov thanks for your answer,it solves my problem!
through test , i turely found that the problem is release version
a) released version 1.1.3 of the app
b) received updates for 1.1.3 and do not received updates for 1.1.4 or 1.1.5 (which is correct)
finally,thanks again.

[2017-02-21 09:20] max-mironov commented on #400
Thank you, feel free to open new tickets if any,

[2017-02-21 09:20] #400 closed

[2017-02-21 14:05] sergey-akhalkov commented on #380
Closing this for now, please feel free to reopen if needed.

[2017-02-21 14:05] #380 closed

[2017-02-21 14:06] max-mironov commented on #379
Closing for now, please reopen when you get updated info

[2017-02-21 14:06] #379 closed

[2017-02-22 00:58] silhouettes commented on #342
You need to upload that file from the CLI to server regardless (or it will be deleted), but that file will not be sent from the server to your app if the app already has it. Hopefully I explained that well?

[2017-02-22 07:40] sergey-akhalkov commented on #371
@ThisIsMissEm, just a friendly ping.

[2017-02-22 07:42] sergey-akhalkov commented on #335
@orlando, @patrickomeara, please let me know if I could help of if the issue was resolved.

[2017-02-22 07:49] sergey-akhalkov commented on #398
@kimown, we do not have any plans to self-host CodePush, please let me know if I could help you somehow.

[2017-02-22 08:28] sergey-akhalkov commented on #397
Closing this due to discussion was moved to code-push discord's channel, please feel free to reopen if needed.

[2017-02-22 08:28] #397 closed

[2017-02-22 09:25] sergey-akhalkov commented on #393
@adriano-di-giovanni, sorry for slow response.
I don't sure if it is mandatory to deploy cordova-platform-specific files, but I suppose it was designed this way to make preparing update contents and installing an CodePush update package processes easier. Such approach is suitable for most users and helps to avoid possible issues that may have place due to files  in the `myapp/www` folder are prepa

[2017-02-22 09:27] sergey-akhalkov commented on #389
Closing this for now due to new one issue was created: https://github.com/Microsoft/code-push/issues/393
Please feel free to reopen if needed.

[2017-02-22 09:27] #389 closed

[2017-02-22 09:46] frontweb commented on #342
@silhouettes yes, the explanation is clear now. thanks

[2017-02-22 09:48] sergey-akhalkov commented on #342
Closing this, please feel free to reopen if needed.

[2017-02-22 09:48] #342 closed

[2017-02-22 14:37] orlando commented on #335
@sergey-akhalkov no problem here, is the expected behaviour of node-semver. What we need to do maybe is to put a reference in the code-push documentation

[2017-02-22 17:42] adriano-di-giovanni commented on #393
@sergey-akhalkov I'm pretty sure it's mandatory to deploy cordova-platform-specific files.
I tried to deploy just my files (html, js, css, images) and I got the error I mentioned above. You can try yourself.

I'm happy to be wrong. If so, please tell me how to avoid deploying cordova-platform-specific files.

If they are mandatory, I'd like to stress it's a suboptimal approach because it

* could

[2017-02-23 07:28] silhouettes commented on #367
Hi @aravind12345, we have not heard back from you. Did you still have this RPS requirement?

[2017-02-23 09:37] mapohjola opened #401 "How to debug rollbacks"
We just started to use Code Push with our cordova project, in our tests everything worked fine without rollbacks but now in production we are seeing a lot of rollbacks, especially on android. Is it normal to have a lot of rollbacks?
We specify the key in config.xml and have sync() wrapped in a deviceReady hook.
We have no logs of what is going wrong, how can you debug what is happening?
![image](h

[2017-02-23 10:24] silhouettes commented on #401
Thanks so much for filing an issue! In answer to your questions:

1. It is not normal to have that many rollbacks.
2. To debug rollbacks, we generally recommend you have some kind of separate analytics or crashes solution installed (e.g. Mobile Center). We are working on a tighter integration there. CodePush will tell you how many of your releases were successful, but not why they failed (e.g. the

[2017-02-23 15:23] joeferraro opened #403 "Is it possible to set an entry file path?"
Our entry file(s) are located in src (and build) and not in the project root. Is it possible to specify an entry file when running `code-push release-react`?

code-push-cli version: 1.12.6-beta

Cheers

[2017-02-24 06:46] aravind12345 commented on #367
we already released into production.  our app gas reached 100k updates
already

On Thu, Feb 23, 2017 at 12:58 PM, Richard Hua <notifications@github.com>
wrote:

[2017-02-24 11:19] ThisIsMissEm commented on #371
@sergey-akhalkov this should work for us; will have to look at it later though.

[2017-02-24 17:58] tavosansal opened #404 "App reverts to codepush version when new Binary is deployed"
Hello,
I have the following scenario:

- App running version 1.3.7
- We did a codepush for a small bugfix that we did not want to do a new review process for since we were making some changes anyways.
- It worked perfectly and bugfix was deployed successfully
- Created a new build (v1.4.0) and deployed it to Testflight for beta testing
- Installed the new version via Testflight
- App opens and imm

[2017-02-24 19:50] silhouettes commented on #404
When you say reverts, do you mean it downloads the update that is on the CodePush server and reverts to that, or do you mean it loads an existing old update from disk?

[2017-02-24 19:55] tavosansal commented on #404
@silhouettes I believe that I am experiencing this issue: https://github.com/Microsoft/cordova-plugin-code-push/issues/207 ... will try to update to the latest untagged version and see if that helps since I saw some commits that fixed this issue. Would be nice to have a new tag though.

[2017-02-24 19:59] silhouettes commented on #367
Okay no worries! Clearly we are able to handle the load, and our monitoring shows no issues. Feel free to contact us if you have any other scalability concerns.

[2017-02-24 19:59] #367 closed

[2017-02-24 20:06] silhouettes commented on #404
Great! We would like to release/tag that ASAP, along with a few other fixes - we will be testing everything first, but if you could also let us know from your personal testing if it resolves your issue that would also be tremendously helpful.

[2017-02-24 20:07] tavosansal commented on #404
Will do...I should have a build ready in a bit here. I will report back.

[2017-02-24 21:11] tavosansal commented on #404
@silhouettes Seems like that fixed the problem. Thank you.

[2017-02-24 21:14] #404 closed

[2017-02-24 21:31] silhouettes commented on #404
Thank you!

[2017-02-24 22:12] axemclion commented on #398
@kimown You could try https://adtmag.com/articles/2016/11/01/react-native-ota.aspx, but we do not officially support self-hosting a server currently.

[2017-02-24 22:14] axemclion commented on #341
@sergey-akhalkov Can we get the type definitions published to definitely typed? The typescript team tells me that once we do this, the definitions will be picked up and automatically published.

[2017-02-24 22:15] axemclion commented on #307
@sergey-akhalkov Can we pick up this work item ?

[2017-02-24 22:17] silhouettes commented on #307
@axemclion - By the way, I soloed this feature for a while, so it might be good to go over the design together at some point just to make sure that it makes sense

[2017-02-24 23:33] axemclion commented on #307
Yeah - thats what I meant when I said that @sergey-akhalkov can look over this.

[2017-02-27 07:29] sergey-akhalkov commented on #371
@ThisIsMissEm, thank you, closing this for now, please feel free to reopen if needed.

[2017-02-27 07:29] #371 closed

[2017-02-27 09:00] sergey-akhalkov commented on #403
@joeferraro, you could specify entry file path using [this parameter](https://github.com/Microsoft/code-push/tree/master/cli#entry-file-parameter) when running `code-push release-react`.
Please let me know if it helps or if you have any questions.

[2017-02-27 12:40] sergey-akhalkov commented on #393
@adriano-di-giovanni, I have to clarify, saying

I meant that deployment process for Cordova could be probably designed without using cordova-platform-specific files, then I've supposed why cordova-platform-specific files are used in deployment process for now.

You've got this error:

file:///data/data/it.spaghettiinteractive.scopapiu/files/codepush/deploy/ve…083c910281714c305ef93a1ab612fb3c24b65

[2017-02-27 13:17] sergey-akhalkov commented on #335
@orlando, got it, thank you, I'll update docs to make this more clear.

[2017-02-27 13:45] sergey-akhalkov commented on #307
@axemclion, got it, will do!

[2017-02-27 13:47] sergey-akhalkov commented on #341
@axemclion, got it, I'll investigate this.

[2017-02-28 08:29] sergey-akhalkov commented on #335
Closing this due to #405 has been merged.

[2017-02-28 08:29] #335 closed

[2017-02-28 09:21] sergey-akhalkov commented on #390
@adriano-di-giovanni, sorry for slow response.

I'd like to recommend you to use following workflow:
1. Debug - development. Code push is not being used here.
2. Stage - stable version for testing. Changes are pushed here from the Debug version.
3. Production - what customers run. Promote tested CodePush updates from Staging to Production.

Using this approach you have not to override deployment k

[2017-03-02 09:35] thienlhh commented on #247
+1 NativeScript is awesome as Angular 2

[2017-03-03 13:54] max-mironov commented on #401
@mapohjola, do you have a chance to look at this/do you still experiencing any issues with code-push?

[2017-03-04 12:18] mapohjola commented on #401
I'm sorry for the late reply.

We are always calling `.sync()` on the `deviceReady` event, however it might not be immediately. Will try to juggle some code around and see if it helps to call `.sync()` earlier.

[2017-03-05 16:00] dannyyaou opened #407 "New Website Logo: [Partido 玩遊戲 | 交朋友]"
- Name: Partido 玩遊戲 | 交朋友
- Homepage (or app store) url: https://itunes.apple.com/tw/app/partido-wan-you-xi-jiao-peng/id1153371765?l=zh&mt=8
- Brand Guidelines/Licensing: Nothing
- Logo: http://i.imgur.com/x83KBVA.png

[2017-03-06 09:36] RichardLindhout opened #408 "Errors when building android project React Native 0.43-rc1"
See these pull requests
https://github.com/facebook/react-native/pull/12329
https://github.com/facebook/react-native/pull/12396

In the CodePushNativeModule.java we need to import
import com.facebook.react.modules.core.ReactChoreographer;

And there are errors in
[code]

[2017-03-06 09:49] sergey-akhalkov commented on #408
@RichardLindhout, thanks for reporting the issue!
Here is the PR fixing it: https://github.com/Microsoft/react-native-code-push/pull/735

[2017-03-06 09:54] RichardLindhout commented on #408
Ah thank you, did not see that pull request!

[2017-03-06 14:49] sergey-akhalkov commented on #403
@joeferraro, just a friendly ping.

[2017-03-06 14:50] sergey-akhalkov commented on #398
@kimown, closing this for now, please feel free to reopen if you have any questions.

[2017-03-06 14:50] #398 closed

[2017-03-06 14:50] joeferraro commented on #403
@sergey-akhalkov cheers for the reply. We're going to test this week.

[2017-03-06 14:51] sergey-akhalkov commented on #393
@adriano-di-giovanni, just a friendly ping.

[2017-03-06 14:51] sergey-akhalkov commented on #390
@adriano-di-giovanni, just a friendly ping.

[2017-03-06 14:53] sergey-akhalkov commented on #294
Closing this for now, please feel free to reopen if you see any issues.

[2017-03-06 14:53] #294 closed

[2017-03-06 16:09] adriano-di-giovanni commented on #393
Say I perform a `cordova platform update` and I forget to update project version in config.xml. A code-push deploy will update cordova.js, leading to an inconsistency between native cordova version and it's javascript counterpart.

As you said, this approach is unsafe. Versioning could make it safer. IMHO that's another drawback of including cordova-platform-specific files in a deployment.

You're

[2017-03-06 16:12] adriano-di-giovanni commented on #390
Thanks for your reply.

We started using the approach you recommended. We then moved to another one.

We don't use config.xml to specify deployment keys. We use javascript and use different keys according to the type of build (debug, release).

[2017-03-06 19:30] tamkin04iut opened #410 "Ansroid Install Metrics incorrect."
In my dev machine, I released a new version of my app to `code-push`. Than app (running on dev device) was able to get the new version. When I entered the command `code-push deployment ls Skills2Go-Android`, the `Install Metrics` shows wrong, `Active: 0% (1 of 0)` and `Total: 1`.

Do I need to add additional code? I just added following code in app resume.
`CodePush.sync({
	updateDialog: true,
	in

[2017-03-06 19:37] sergey-akhalkov commented on #390
@adriano-di-giovanni, thank you for response, closing this for now, please feel free to reopen if needed.

[2017-03-06 19:37] #390 closed

[2017-03-06 19:58] silhouettes commented on #393
Tagging @panarasi as this may be an interesting point (Cordova-specific)

[2017-03-07 10:17] sergey-akhalkov commented on #393
Agreed, the inconsistency could be here, so we just have to keep it in mind.

We can't use `myapp/www` folder for deployment due to its content may be changed by `cordova prepare` command. So such changed files are locate in `myapp/platforms/android/assets/www` folder and used by the app and by CodePush for deployment process. We also not able to use `myapp/www` folder for releasing CodePush updat

[2017-03-07 13:02] max-mironov commented on #410
Hello @tamkin04iut, this really looks odd. Can you please answer the following questions:
1) Are you able to reproduce this many times or this happens just once?
2) If it is reproducing every time are you able to repro this with our [sample app](https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp)?
3) Is it possible that you have any problems with internet conn

[2017-03-07 16:22] tamkin04iut commented on #410
@max-mironov

1. Yes, every time I release `code-push release-react Skills2Go-android android -d QC -m` to my QC  deployment and app running on dev device got the update. After downloading the new version `Install Metrics` shows `Active: 0% (1 of 0), Total: 1`, but after few mins it start showing `Active: 0% (0 of 0), Total:1`.
For example: v8, v9 `Install Metrics` was `Active: 0% (1 of 0), Total:

[2017-03-08 00:33] thedmeyer opened #411 "New Website Logo: Flatiron Chat"
Please fill the following out:

- Name: Flatiron Chat
- Homepage (or app store) url: https://flatironapp.com/
- Logo: https://flatironapp.com/img/icon.png

[2017-03-08 19:22] ajwhite commented on #307
Had some similar thoughts that I opened up in the React Native project. Going to cross link those for reference. https://github.com/Microsoft/react-native-code-push/issues/749

Glad to see active discussions around this request.

[2017-03-08 21:09] panarasi commented on #187
@sergey-akhalkov I think this would be a good enhancement for us to implement, though I would prioritize it a little lower. Let us look at implementing this.

[2017-03-08 21:12] panarasi commented on #225
@vineyyadav Thanks for the feature idea. Currently, we are looking to move Code-Push into Visual Studio Mobile Center. Once in Mobile Center, we plan to support different ways to install code-push updates based on segments. 
As you mentioned in the issue, the workaround for now could be wrapping `codepush.sync()` in your own function.

I am closing this issue since we do not plan to implement it r

[2017-03-08 21:12] #225 closed

[2017-03-08 21:15] panarasi commented on #252
As you may have heard, CodePush will soon be a part of [Visual Studio Mobile Center](http://mobile.azure.com). Mobile Center has a feature for continuous builds, and we plan to build in such a feature on Mobile Center soon.

Closing this bug in its current form, as we do not plan to make this a part of the CodePush CLI. Once we have the `git` logic in Mobile Center, we could opensource that tool.

[2017-03-08 21:15] #252 closed

[2017-03-08 21:17] panarasi commented on #272
Once Code Push is merged into Mobile Center, it is easier to create deployments in the UI. Hence, closing this issue. If you still think that it makes sense to add this functionality in CodePush, please do let us know.

[2017-03-08 21:17] #272 closed

[2017-03-08 21:19] panarasi commented on #274
For nightly builds, you could check out Mobile Center's build process. Here is a video I did about continuous builds and Code Push - https://www.youtube.com/watch?v=lfqZ8Uy2p3U

[2017-03-08 21:19] #274 closed

[2017-03-08 21:20] panarasi commented on #283
@pke Thanks a lot for the feature request. At this point, we do not plan to implement a WebHook. CodePush will expose the deployment metrics as a rest API, and we would recommend polling as a way to get the information.

[2017-03-08 21:20] #283 closed

[2017-03-08 21:21] panarasi commented on #273
@sergey-akhalkov Can we investigate to see how this can be implemented please ?

[2017-03-08 21:23] pke commented on #283
Too bad. Polling is very 2000 and network load unfriendly.

[2017-03-08 21:23] panarasi commented on #298
This would be a great feature to implement, and if someone on the community can send in a PR, we would gladly accept it. I am closing this issue for now, since our team does not plan to implement it.

If someone in the community is planning to work on this, please comment on the issue, and I can reopen it.

[2017-03-08 21:23] #298 closed

[2017-03-08 21:26] pke commented on #274
That is handling react native not cordova. But I'll give it a view and see if it could work with cordova.

[2017-03-08 21:27] panarasi commented on #331
@silhouettes Is there a reason we need to even look for this ? We could simply call `react-native bundle` and if react-native exists, regardless, we could publish it.

[2017-03-08 21:29] panarasi commented on #334
@silhouettes With the changes to our backend, would this be possible ? Can we move this to our backlog and see if we can fix this ?

[2017-03-08 21:51] silhouettes commented on #331
Two reasons I think:

1. We run `react-native` out of the node modules directory, I assume so that versioning is consistent.
2. It's important that the command is run out of the correct directory so that something unexpected isn't bundled.

Only two people have mentioned this though, so it's up to you if you think it's worth the effort.

[2017-03-08 21:58] silhouettes commented on #334
We can certainly move it into our backlog. It's not unfeasible by any means, we'd just have to think everything through. I don't think our current backend changes would change how this feature is implemented, but it would be good to have a discussion and bounce ideas off people.

[2017-03-08 23:33] axemclion commented on #307
@ajwhite We are actively looking at this and should have a design for the community to review soon.

[2017-03-09 05:44] panarasi commented on #334
Awesome, lets keep this issue open then, and see how we can implement it. Thanks

[2017-03-09 09:49] max-mironov commented on #410
Hello @tamkin04iut, thank you so much for your response!

I've tried your example and it works well for me.
However I've found a way to reproduce your issue by doing the following steps:
1) Create a new depoyment and add a few releases (confirmed that everything is correct)
2) Clear deployment history for current release by using `code-push deployment clear <appName> <deploymentName>` command
3) A

[2017-03-09 11:24] webyom commented on #247
+1

[2017-03-09 11:58] max-mironov commented on #411
@thedmeyer thank you for your request, your logo has been added.

[2017-03-09 11:58] #411 closed

[2017-03-09 11:58] max-mironov commented on #407
@dannyyaou thank you for your request, your logo has been added.

[2017-03-09 11:58] #407 closed

[2017-03-09 11:58] max-mironov commented on #391
@Hunter-Dolan thank you for your request, your logo has been added.

[2017-03-09 11:58] #391 closed

[2017-03-09 12:12] max-mironov commented on #401
Hi @mapohjola, thank you for your response. Please let us know if calling sync earlier resolve your issue.

[2017-03-09 13:32] sergey-akhalkov commented on #273
@panarasi, I've investigated the way we could implement this feature in the same issue, please see investigation results here: https://github.com/Microsoft/react-native-code-push/issues/375#issuecomment-280572789

[2017-03-09 13:47] sergey-akhalkov commented on #187
@panarasi, got it, I'll investigate and implement this just after `code/bundle signing feature` investigation.

[2017-03-09 15:58] laowenlu opened #412 "code-push patch didn't work"
I use
`code-push patch HybridDemo Debug -l v13 --des "close v13" --disabled true --mandatory false`;
after
`code-push deployment history HybridDemo Debug --format json  -a`
then log
[code]

There `isDisabled` and `isMandatory` is no change

[2017-03-10 01:12] aaronorosen opened #414 "code-push image upload process optimization"
I use code-push while i'm developing to quickly update my app and test it on my device. One bottleneck I've found in my development process is code-push can take close to a minute+ to upload a new release of my code. This could be sped up a good bit (and lots of bandwidth could be saved on the code-push server side) if code-push implemented a clientside diff and only pushed the files that have cha

[2017-03-10 07:48] max-mironov commented on #412
Hello @laowenlu thank you so much for pointing to the issue, Fix for it has been merged into the master branch.
I'm closing the issue for now, please let us know if you still see any issues after updating from master branch of code-push.

[2017-03-10 07:48] #412 closed

[2017-03-10 08:24] max-mironov commented on #392
Hello @srameshr, we have implemented this in https://github.com/Microsoft/code-push/pull/409.
Closing this for now, please let us know if you see any issues or have any questions.

[2017-03-10 08:24] #392 closed

[2017-03-10 08:45] gs-sramesh commented on #392
@max-mironov Thanks!

[2017-03-11 16:29] kentyunge commented on #247
+1

[2017-03-13 08:44] pke opened #415 "Code Push no longer allowed by Apple?"
Read this message in the Apple dev forums:

https://forums.developer.apple.com/thread/73640

And it states:

This includes any code which passes arbitrary parameters to dynamic methods such as dlopen(), dlsym(), respondsToSelector:, performSelector:, method_exchangeImplementations(), and running remote scripts in order to change app behavior or call SPI, based on the contents of the downloaded scr

[2017-03-13 09:15] max-mironov commented on #415
Hi @pke, seems that the rejections only affect apps that use native code update technologies, like Rollout and JSPatch.
Please see https://github.com/Microsoft/react-native-code-push/issues/748, https://github.com/Microsoft/cordova-plugin-code-push/issues/227 for more details.

[2017-03-13 13:35] max-mironov commented on #403
Hi @joeferraro, I'm closing the issue for now, please feel free to reopen it or create a new one if you see any problems with this when testing or have any questions.

[2017-03-13 13:35] #403 closed

[2017-03-14 10:13] sergey-akhalkov commented on #393
Closing this for now, please feel free to reopen if needed.

[2017-03-14 10:13] #393 closed

[2017-03-14 13:08] joeferraro commented on #403
@sergey-akhalkov @max-mironov confirmed as working for me. cheers, guys

[2017-03-16 06:03] borisding1994 commented on #294
Reverse proxy may be a good choice.

FYI

[code]

[2017-03-16 07:43] max-mironov commented on #401
@mapohjola, please let us know if you have any updates about this or if you currently have no questions and we can close the issue accordingly

[2017-03-16 11:24] luk156 opened #418 "fontawesome icons not visible after update"
After my cordova app is updated font awesome icons are not visibile

[2017-03-16 12:20] mapohjola commented on #401
I will close this and come back if there is something more to it

[2017-03-16 12:20] #401 closed

[2017-03-16 12:59] max-mironov commented on #418
Hello @luk156, that looks strange. Can you please verify that you do not have any absolute path to font icons?

[2017-03-16 13:14] max-mironov commented on #401
Thanks @mapohjola feel free to reopen if needed!

[2017-03-16 15:48] fungilation opened #419 "Warnings from yarn regarding node-uuid"
On every `yarn upgrade`:
[code]

Perhaps the warning can be fixed as suggested, if it's "correct"?

Using `code-push` 1.8.0-beta

[2017-03-17 11:31] aslakagens commented on #408
When will this be fixed?

[2017-03-18 11:33] aitboudad commented on #247
this something that prevent me to use `nativescript`, any ETA ?

[2017-03-19 23:25] amesf opened #420 "code-push release-react Cannot assign to read only property '0' of object '[object String]'"
CLI v1.12.9-beta throws error on android:

Detecting android app version:

/usr/local/lib/node_modules/code-push-cli/node_modules/deep-assign/index.js:28
		to[key] = val;
		        ^

TypeError: Cannot assign to read only property '0' of object '[object String]'
    at assignKey (/usr/local/lib/node_modules/code-push-cli/node_modules/deep-assign/index.js:28:11)
    at assign (/usr/local/lib/node_m

[2017-03-20 10:40] max-mironov commented on #420
Hi @amesf, that looks interesting,
Is it possible for you to share with us your `build.gradle` file from android/app folder so that we can try to reproduce your issue (or may be you have the minimum app example where we can try to reproduce this)?

[2017-03-22 01:33] silhouettes commented on #408
@aslakagens, the fix should be merged and published tomorrow or the day after.

[2017-03-22 11:21] max-mironov commented on #419
Looks like the package `node-uuid` package on npm has been deprecated but the repo hasn't been because its now serving up the source code for `uuid`. More details here https://github.com/kelektiv/node-uuid/issues/155

@silhouettes - I've searched through code-push project and it seems that we are not using `node-uuid` module any more at this time. What do you think, is it ok if we remove this depe

[2017-03-22 11:33] marcelaraujo commented on #415
@max-mironov @pke

https://news.ycombinator.com/item?id=13817557

[2017-03-22 12:25] max-mironov commented on #415
@marcelaraujo thanks for sharing this. Also please see the latest thread in RN repo: https://github.com/facebook/react-native/issues/13011. So seems that CodePush is not a culprit of the issue.

[2017-03-22 12:32] max-mironov commented on #418
@luk156 - do you have a chance to look at this?

[2017-03-22 12:52] luk156 commented on #418
Sorry, my error, i've an absolute path.

[2017-03-22 12:52] #418 closed

[2017-03-22 18:01] BJGDEV opened #421 "Code push"
Thanks so much for filing an issue or feature request! We will address it as soon as we can. Please follow these guidelines:

1. This repository is for the CodePush CLI and management SDK. For issues relating to the CodePush client SDK's, please see:
  * react-native-code-push: https://github.com/Microsoft/react-native-code-push
  * cordova-plugin-code-push: https://github.com/Microsoft/cordova-pl

[2017-03-22 18:48] max-mironov commented on #421
@BJGDEV please review your issue and fill proper description otherwise this item will be closed as invalid.

[2017-03-22 19:18] silhouettes commented on #419
@max-mironov great catch! yes, please remove this dependency completely.

[2017-03-23 01:05] silhouettes commented on #419
Oh, @max-mironov - the xcode dependency also uses node-uuid, so the warning will still show up even after my PR is merged. You might need to look at that separately.

[2017-03-23 01:22] BJGDEV commented on #421
https://github.com/Microsoft/react-native-code-push

[2017-03-23 01:27] silhouettes commented on #421
@BJGDEV closing this issue as unactionable, please file another issue with clear reproduction steps if you still need help.

[2017-03-23 01:27] #421 closed

[2017-03-23 10:26] sergey-akhalkov commented on #408
Closing this due to https://github.com/Microsoft/react-native-code-push/pull/735 has been merged. Please feel free to reopen if need.

[2017-03-23 10:26] #408 closed

[2017-03-23 10:32] max-mironov commented on #419
@silhouettes - I've looked closer at this and it turns out that nothing we can do with this warning.
As it is stated here  https://github.com/react-community/create-react-native-app/issues/86 this warning appears due to our `code-push-react-native` (as well as `react-native`) have dependency upon `xcode `package which is in its turn dependent upon `node-uuid` package.
So I believe nothing we can d

[2017-03-23 18:29] silhouettes commented on #408
We will publish this on npm the same day that RN 0.43 exits RC.

[2017-03-23 18:39] silhouettes commented on #419
@max-mironov - gotcha! Thanks for looking into that. So I guess we've done all we can on our end.

[2017-03-24 05:22] max-mironov commented on #419
@fungilation thank you for referencing the issue in `node-xcode` repository. Currently we'll left this item open and wait for new release of `xcode` to bump dependency accordingly.

[2017-03-27 05:18] max-mironov commented on #420
@amesf - hi, do you have a chance to look at this?

[2017-03-27 07:31] lukasrein97 commented on #297
Dont work for me im getting:
**Cannot read property 'sync' of undefined**

[2017-03-27 07:44] max-mironov commented on #297
@lukasrein97 - hi, could you please be more specific about your problem? Do you have the exact repro steps as mentioned above?
If not could you please fill the new issue and provide us as much info about your problem as possible and we will try to identify the reason of the problem. Thanks in advance!

[2017-03-27 07:53] lukasrein97 commented on #297
Yeah
So im working on Ionic 2 and I'm faceing 2 Problems!

**First Problem: If you run "ionic build android --prod" instead of "ionic build android" the Plugin wont work anymore because you get Typestript: Cannot read property 'is' of undefinded.**
Notice: if you run the exactly same code with ionic build android the Code-Push works perfect!

**Second Problem: The Method with onResume dont work in

[2017-03-27 08:17] max-mironov commented on #297
@lukasrein97 I've created [separate issue ](https://github.com/Microsoft/cordova-plugin-code-push/issues/237)for your items (prefer not to reopen this one as seems that they are not related), will will try to address it soon.

[2017-03-27 16:23] ezequielzacca commented on #247
+1

[2017-03-28 14:59] rvs-fluid-it commented on #247
+1

[2017-03-28 21:33] panarasi commented on #187
@iageoghe Can you work with @sergey-akhalkov on the spec for this please ?

[2017-03-28 21:36] panarasi opened #423 "Support Brownfield React Native apps"
In some cases, React Native is used within existing apps. CodePush should expose native methods to perform operations like Sync, that these "brownfield" apps can call

[2017-03-28 21:41] silhouettes commented on #187
Please include me also!

[2017-03-28 22:59] wbrickner opened #424 "Temporary files left behind when I abort release"
When I run code-push to release my app like this:
[code]
Everything works fine, but if I cancel the upload via `^C` (control-C),
the temporary .zip file (which I assume code-push uses for uploading) is left behind and not cleaned up.  Example of the naming of these files: "j0EIHFQghM5Ce4I.zip"

Is this a bug? Is it possible to fix this or not, because if you press `^C` it exits all of your code-pu

[2017-03-28 23:04] wbrickner commented on #424
I meant to include my code-push version, sorry.
`code-push -v` returns `1.12.6-beta`

[2017-03-29 06:57] sergey-akhalkov commented on #424
Hi @wbrickner, I believe it is not a bug due to you've terminated execution process and it is expected that some temporary files are not cleaned up. So, I don't sure if it is the use case for most of the users, but if you want, you could try to implement this feature (and publish PR) using [interrupt signal SIGINT](http://stackoverflow.com/a/20165643).

[2017-03-29 09:59] sergey-akhalkov commented on #187
Hi @silhouettes, @iageoghe.
I've investigated ways we could implement, so please have a look at the following workflow mock up:

0. Developer releases new `1.2.0` version of the app in the app store that includes "Rollback to the binary version" feature. Then developer performs `code-push release-react <appName> <platform>` command and wants to rollback `v1` release to the binary version. There ar

[2017-03-30 16:07] Carl-fridrix-zendolf-IV commented on #247
+1

[2017-03-31 09:25] max-mironov commented on #415
I'm closing the issue now as it turns out that code-push is valid for using with app store. Will reopen this one if any changes.

[2017-03-31 09:25] #415 closed

[2017-03-31 17:48] abelcha opened #425 "bundle api endpoint"
Where can i fetch the js bundle of an app ?

I'm trying to do something like that:
`wget https://codepush.azurewebsites.net/apps/myapp/downloadBundle?version=23&key=xxx`

[2017-03-31 20:23] silhouettes commented on #425
From the CLI, please run the following command to get the download URL's for each release:

`code-push deployment history <app> <deployment> --format json`

Does this solve your question?

[2017-04-01 05:04] fungilation commented on #419
it's version bumped to include the move to uuid: https://github.com/alunny/node-xcode/pull/117#issuecomment-290856044

[2017-04-01 16:21] abelcha commented on #425
Thanks,

Each deployment have a `blobUrl` key, that's what i was looking for.

[2017-04-01 16:21] #425 closed

[2017-04-03 05:18] max-mironov commented on #420
@amesf - we are closing the issue for now, please let us know if you get I chance to look at this and the issue is still reproducing on your side.

[2017-04-03 05:18] #420 closed

[2017-04-03 11:12] max-mironov commented on #419
Hey @fungilation, thanks for heads up!
We have updated xcode dependency on our side [in this PR](https://github.com/Microsoft/react-native-code-push/pull/776).

However currently we will still see this warnings for 2 reasons:
1) `react-native` package depends upon old xcode package, we cannot force them to update it immediately
2) our `react-native-code-push` package have a dependency for `code-pu

[2017-04-03 16:55] marcelaraujo opened #426 "Release is not working with custom deployment keys"
[code]

Then I tried to release a QC version

[code]

[2017-04-03 18:23] marcelaraujo commented on #426
I think that I probably found the bug.

It's on Yargs arguments parser.

[code]

The definition is correct but it returns an array instead of string.

[2017-04-03 18:40] marcelaraujo commented on #426
Shit!

I was using the `-d` option twice.

Sorry!

[2017-04-03 18:40] #426 closed

[2017-04-04 10:53] sergey-akhalkov commented on #334
Hi @silhouettes, do I get it right that CodePush server uses [MAX_PACKAGE_HISTORY_LENGTH](https://github.com/Microsoft/code-push-service/blob/master/api/script/storage/azure-storage.ts#L154) constant to [keep only last 50 packages per deployment](https://github.com/Microsoft/code-push-service/blob/master/api/script/storage/azure-storage.ts#L628)? I think we could prompt user that deployment histor

[2017-04-05 00:15] silhouettes commented on #334
Hey @sergey-akhalkov, I'm not sure if that is a good idea (not saying it's not, just that I'm not sure), because our current deployment history blobs are already ~70kb with 50 releases. With 1000 releases, they'd be over 1MB each, and I don't know what the performance of that will be, and if it'll affect other users. But I'm open-minded though!

Just brainstorming here about other approaches too:

[2017-04-05 07:51] sergey-akhalkov commented on #408
We've released new version of React Native Module for CodePush: react-native-code-push@2.0.1-beta (it's available via npm), please let me know if you see any issues or have any questions.

[2017-04-05 13:10] sergey-akhalkov commented on #334
Hi @silhouettes, agreed, overwriting `MAX_PACKAGE_HISTORY_LENGTH` isn't good idea due to it requires some actions from developer, it'll also affect both CodePush CLI and CodePush Server. So I suppose it would be better if we'll implement server side only solution.

I've tried to find out what methods will be affected in case of increasing `MAX_PACKAGE_HISTORY_LENGTH` constants value from 50 to 100

[2017-04-06 22:45] victorhua opened #427 "How to remove the local package when app version is changed"
We are testing the codepush feature for our app, we noticed when app is upgraded through app store, the update through code push for the previous version still remain.
Here is an example:
1) App with version 1.0.0 installed.
2) pushed update v1 through codepush targeting 1.0.0
3) v1 is updated in App.
4) App is upgraded to version 1.0.1, but v1 update still remain.

If I uninstall 1.0.0 first, the

[2017-04-07 03:40] victorhua commented on #427
This seems to related to https://github.com/Microsoft/cordova-plugin-code-push/issues/219, and after upgrade to cordova-plugin-code-push@1.9.3-beta, the problem is gone when testing on iPhone connected directly to Xcode.

[2017-04-07 06:37] max-mironov commented on #427
@victorhua - got it, thanks for explanation. I believe your assumptions are correct and code-push-@1.9.3-beta should fix it. I'm closing the issue now, let is know if you have any questions further.

[2017-04-07 06:37] #427 closed

[2017-04-09 06:00] the-simian commented on #420
i am also having this exact issue, but since i cannot reopen this I'll simply submit a new issue.

[2017-04-09 06:05] the-simian opened #428 "Cannot assign to read only property '0' of object '[object String]'"
|  application| code-push-cli  |
|--|--|
| Error | Cannot assign to read only property '0' of object '[object String]' |
| Version | 1.12.9-beta |
|command to repro| code-push release-react CoolApp-Android android |

stacktrace in console:

[code]

[2017-04-09 06:08] the-simian commented on #428
This references issue https://github.com/Microsoft/code-push/issues/420

[2017-04-09 06:11] the-simian commented on #428
looking at this line: https://github.com/Microsoft/code-push/blob/master/cli/script/command-executor.ts#L905

I can see that the `.parseFile` function doesn't hit the catch, becuse I am not seing an error about being Unable to parse the gradlefile. It appears at face value to be dying in the `deep-assign` dependency that is used by `gradle-to-js`

[2017-04-09 06:27] the-simian commented on #428
The problem appears to be in gradle-to-js. I'll submit an error report there.

[2017-04-09 06:32] the-simian commented on #428
https://github.com/ninetwozero/gradle-to-js/issues/7

[2017-04-09 07:54] the-simian commented on #428
Hey it seems that the problem fully lies in the underplaying gradle-to-js module, and I've submitted an issue there, since that's where it really belongs. I think its safe to close this, so I shall do so.

I've produced a very minimal example of the issue here that clearly proces its in the undelrying module: https://github.com/the-simian/gradle-to-js-test

[2017-04-09 07:54] #428 closed

[2017-04-09 15:19] max-mironov commented on #428
Hey @the-simian, thank you for your great investigation! All this information will be very useful for anyone who can get this error in future! We are appreciating your help with this.

[2017-04-09 16:21] kaurag007ph commented on #247
+1

[2017-04-10 01:32] vishalmanohar commented on #247
+1

[2017-04-10 13:05] sergey-akhalkov commented on #341
Hey @axemclion, @silhouettes, @iageoghe, I've investigated this and I believe we should publish our declarations bundle file with npm package ([just like react-native-code-push does it](https://github.com/Microsoft/react-native-code-push/blob/master/package.json#L6)) due to we control the npm package we are publishing declarations for. That way, our declarations and JavaScript always travel togeth

[2017-04-10 18:35] silhouettes commented on #341
Hi @sergey-akhalkov, here are my thoughts:

1. It makes sense to publish the definitions with the npm package.
2. I'm not too sure myself whether it is better to implement `code-push.d.ts` manually compared to fixing the auto-generation script, but I trust your judgment here so if you think that's the better approach then I support it.
3. If you'd like to postpone it, that makes sense, given that

[2017-04-11 12:03] sergey-akhalkov commented on #341
Hi @silhouettes, got it, we'll postpone it for now and implement `code-push.d.ts` manually later, thank you!

[2017-04-12 02:24] dkpalmer commented on #280
+1

[2017-04-13 10:21] cosmith opened #430 "New Website Logo: Dashdoc"
Hi! We use Code Push in our new app and love it - especially the ability to fix critical bugs in the early stages. We'd love to be featured in the showcase page!

- Name: Dashdoc
- Homepage (or app store) url: https://www.dashdoc.eu/ (it's only in French for now)
- Brand Guidelines/Licensing: nothing in particular
- Logo:
![icon_dashdoc_android](https://cloud.githubusercontent.com/assets/1194749/2

[2017-04-17 12:42] tamkin04iut commented on #410
@max-mironov ,

Sorry for my late reply.

I never ran `code-push deployment clear <appName> <deploymentName>` command.

I had just created a new deployment and pushed changes to that newly created deployment.

If possible I try to do reproduce both your and my case and let you know how it goes.

Thanks

[2017-04-24 07:27] dsernst commented on #415
The Man-in-the-Middle attack is unfortunately still relevant. See https://github.com/Microsoft/code-push/issues/233 for discussion and https://github.com/Microsoft/code-push/pull/309 for WIP solution.

[2017-04-24 16:33] wilomgfx opened #433 "Use the CodePush Management SDK inside electron"
I am just wondering if its possible to use the CodePush Management SDK within electron/node-webkit.

Im looking to build a GUI application to manage code-push enabled apps. I know i could use the cli, but as i saw the SDK, it made no sense to call the cli for each commands.

Unfortunately, when i ``` import CodePush from 'code-push'; ``` from my electron app( using webpack2) i get this error :

Wh

[2017-04-25 10:11] sergey-akhalkov commented on #433
Hi @wilomgfx, thanks for reaching us. As of now, it is not possible to use CodePush with Electron due to both CodePush SDK's (React Native module for CodePush and Cordova plugin for CodePush) are using native-side code (Java and Objective-C) to handle platform (Android and iOS) specific operations such as download update, unzip archive, copy/delete files and etc. To make things work, it is probabl

[2017-04-25 12:48] wilomgfx commented on #433
Hi thank you for your response. I am aware that code-push uses native code for ios and android, but i was talking about the [management SDK](https://github.com/Microsoft/code-push/tree/master/sdk). Which is purely in Typescript.
I tried using it under node and it worked fine, but under an electron environnement with webpack, i was not able to make it work, i kept getting the error mentioned above.

[2017-04-27 08:12] sergey-akhalkov commented on #433
Hi @wilomgfx, thanks for the clarification. It's hard to say for me what actually went wrong here, due to we have not faced with such kind of CodePush using specific scenarios before. Is it possible if you have the same problem as [here](https://github.com/webpack/webpack/issues/1697)? I could probably try to help you if you provide me with your webpack configuration.

[2017-04-27 12:39] wilomgfx commented on #433
Hi @sergey-akhalkov , my repo is public and here is my dev webpack config file
https://github.com/wilomgfx/code-push-gui/blob/master/webpack.config.renderer.dev.js

Thanks :)!

[2017-04-27 12:55] sergey-akhalkov commented on #433
@wilomgfx, got it, I'll quickly look at it and let you know if I'll find out the root cause of the issue. Please also let me know if you'll also find out the way to resolve the issue.

[2017-04-27 13:17] wilomgfx commented on #433
@sergey-akhalkov  thank you! If i fix, ill post here for sure.

[2017-05-02 03:45] aaronorosen opened #434 "Code-push mandatory followed by non-mandatory update behaviour"
I want to understand how code-push handles the following case:

1) user installs App.
  - Then, a mandatory update is pushed out.
  - Then, a non-mandatory update is pushed out.
  -  Now, the user opens the app again.

In this above case does it matter that a mandatory update was ever pushed out to begin with to this user since a non-mandatory update was pushed out after the user opened the app ag

[2017-05-02 07:37] sergey-akhalkov commented on #434
Hi @aaronorosen, thanks for reaching us.

I believe "[Mandatory parameter](https://github.com/Microsoft/code-push/tree/master/cli#mandatory-parameter)" should answer this question. Please let me know if it does not clear for you.

The users will get the latest version of the released CodePush updates that targets to [appropriate binary version ](https://github.com/Microsoft/code-push/tree/master/c

[2017-05-02 16:46] aaronorosen commented on #434
Thanks @sergey-akhalkov  I should have read though the documentation more. This is well documented and explained clearly. Thanks :)

[2017-05-02 16:46] #434 closed

[2017-05-03 08:05] max-mironov commented on #419
Closing this as fix was released with React Native Code Push 2.0.3.

[2017-05-03 08:05] #419 closed

[2017-05-10 14:47] nisos-siddharth commented on #297
I have tried all the above solution, still the update is rolled back on app restart. The update installs properly on device resume from background, however if I kill the app from backgroud, I get the following message on next app restart:  `An update is available, but it is being ignored due to have been previously rolled back`. I am using Ionic2 and my code in app.component is as follows:

[code]

[2017-05-10 16:42] webkodierer opened #436 "bundle generation TEMP_FILE_PATH can break parallel builds"
Affected version of code push: AFAICT this affects all code push versions.

Description:

During bundle creation a temp file is used in TMPDIR/CodePushResourcesMap.json

For concurrent executions (for us this is the case on our continuous integration server) this allows race conditions resulting in unexpected build failures and _maybe_ to other unexpected results.

First in scripts/recordFilesBefo

[2017-05-11 06:32] EddyVerbruggen commented on #247
Hi folks, just so you're aware: there's now PR #435 that implements this feature.

Let's hope it gets accepted so you all can use this excellent service!

There's also a [NativeScript client side CodePush plugin](https://github.com/EddyVerbruggen/nativescript-code-push) that plays nice with the CodePush cloud and works similar to the Cordova and RN implementations. You can use that already in your

[2017-05-11 10:56] webkodierer commented on #436
Oh, I'm very sorry, this is obviously the wrong github project, I wanted to address https://github.com/Microsoft/react-native-code-push

[2017-05-11 10:56] #436 closed

[2017-05-11 15:23] fashaikh commented on #247
Thanks for the update !Looking forward to it.

[2017-05-15 13:08] sergey-akhalkov commented on #433
Hi @wilomgfx, do you still experiencing the issue?

[2017-05-16 06:27] alexeyMohnatkin opened #438 "Internal Server Error"
I'm getting `Internal Server Error` on any query in cli.
code-push v 1.12.9-beta

[2017-05-16 06:38] bhansen77 commented on #438
Same issue, just started happening about 30 minutes ago

[2017-05-16 06:42] AmusedMe commented on #438
me too...

[2017-05-16 06:44] kainolophobia commented on #438
Likewise!

[2017-05-16 06:44] JakeRawr commented on #438
+1

[2017-05-16 06:44] AmusedMe commented on #438
Now, recovered.

[2017-05-16 23:16] wilomgfx commented on #433
Hi @sergey-akhalkov i haven't tried again. I switched to another urgent project. But if i ever find out why... il post here. Should be looking into that by the end of this month.

[2017-05-17 14:11] max-mironov commented on #438
Hey guys, we've investigated for Azure logs, there were several errors here but looks like a tmp issue. We'll keep an eye on this. Closing it for now as seems the issue has been resolved, let us know if any problems.

[2017-05-17 17:52] JakeRawr commented on #438
Hi, @max-mironov

Some of our users were experiencing very long downloading time within the past 24 hours? Is this a reported issue?

Jake

[2017-05-18 11:10] max-mironov commented on #438
hi @JakeRawr,thanks for reaching us. We haven't heard about this issue previously. Do you currently experience such kind of problems? Do you have any info about your users location/internet connection etc?

[2017-05-18 13:56] thotegowda opened #445 "Crash while restarting app after downloading new bundle"
App downloads updated bundle from server. But when tries to restart the app, it crashes. With lot of `Sync already in progress.` and `Loading bundle on resume` messages.

[code]
crash log says
[code]
Update is complete as expected, when app is ran after crash.

Any pointers to debug this issue?

[2017-05-18 15:10] sergey-akhalkov commented on #445
Hi @thotegowda, thanks for reaching us, could you please take a look at https://github.com/Microsoft/react-native-code-push/issues/841 and verify if you have the same issue as there or not?

[2017-05-19 19:07] thotegowda commented on #445
Thanks @sergey-akhalkov for quick response.  Its the same issue, but the work-around mentioned in the thread, i.e. dex-guard configuration, is not working.

Its happening even in the debug build, where dex-guard is disabled.

[2017-05-22 11:46] sergey-akhalkov commented on #445
@thotegowda, got it, thanks for the clarification. Could you please try to debug from [this point](https://github.com/Microsoft/react-native-code-push/blob/master/android/app/src/main/java/com/microsoft/codepush/react/CodePushNativeModule.java#L431) or share with us source code (minimal version of the app where the issue reproduces) if available?
Please let me know if you have any questions.

[2017-05-22 11:50] sergey-akhalkov commented on #433
Hi @wilomgfx, got it, so I'm closing this for now, please let me know if any updates or feel free to reopen if needed.

[2017-05-22 11:50] #433 closed

[2017-05-23 14:29] af-inf commented on #319
Hello,

We white listed these 3 URLs on a hotel WIFI admin (to test if a react native app can access the internet without WIFI authentication) but unfortunately the code push did not happen. Should we white list something more?

[2017-05-24 05:39] cbjs opened #448 "sometimes can not detect updates"
I have to rollback to some old release, and then release the new version again.

[2017-05-24 06:42] max-mironov commented on #448
Hello @cbjs, thank you for reaching us. Could you describe your problem a little more?
What CLI/SDK versions you are using, the platform you are on? What is your deployment history looks like? How do you bootstrap codepush?

[2017-05-24 07:14] cbjs commented on #448
@max-mironov

cli version: 1.12.9-beta
sdk version: 2.0.3-beta
dev platform: ubuntu 16.04

history file
[history.txt](https://github.com/Microsoft/code-push/files/1024673/history.txt)

in index.js
check update automatically
[code]

in setting.js
check update manually
[code]

both not working sometimes.

[2017-05-24 08:37] max-mironov commented on #448
@cbjs - thank you for this!
And also just to make it clear - the problem is that when you rollback one release new release is created (e.g. v95 from your history) but users do not receive it? So you have to release one more version after that?

Can you confirm that all users do not receive update this way or only those who are e.g. on certain version of code-push update?

[2017-05-24 08:40] afilp opened #449 "Github authentication and multiple accounts"
Hello,

Is it possible to have a "switch" account feature, so that we can be logged in 3 different accounts and just switch?

Why?

If someone works for 3 different teams, so he has 3 different github accounts (per team), he has to:

1. code-push logout
2. Github logout (from main one)
3. Github login to the other account (just for the authentication, not needed to use that one)
4. code-push login

[2017-05-24 08:53] cbjs commented on #448
no.
when I promote a new release(v92), some of the users(specially, new user of v1.2.1) can not receive any update(including v91 from history).  but v90 user may receive this update(v92).

then I try to rollback to v90(v93 from history), and then promote the same release(v94).
everything is good.

[2017-05-24 09:43] cbjs commented on #448
@max-mironov
it turns out it's my mistake.

thanks for your time~

[2017-05-24 09:43] #448 closed

[2017-05-24 10:23] max-mironov commented on #448
@cbjs thanks for your reply. What was the problem so finally?

[2017-05-24 13:26] sergey-akhalkov commented on #319
Hi @af-inf, thanks for reaching us. Currently, we only have 3 URLs that you need to add to white list:
[code]
Please let me know if you have any questions.

[2017-05-24 15:13] thotegowda commented on #445
Hey @sergey-akhalkov, spent some time looking in to what is happening.  `CodePushNativeModule.java` looks in two ways to resolve `ReactInstanceManager` instance.  (1) method `getReactNativeHost()` of `ReactApplication` (2) `mReactInstanceManager` member in ReactActivity or its derived.

In our case it was failing, because we had a static instance of `ReactNativeHost` (our's is a brownfield applica

[2017-05-24 15:13] #445 closed

[2017-05-25 02:19] cbjs commented on #448
@max-mironov
I used android back button to exit app(Android default behavior), and found that the update didn't take effect.
It turns out I have to kill the app manually, then restart the app.

[2017-05-25 05:00] max-mironov commented on #448
@cbjs thanks for the explanation!

[2017-05-25 10:56] sergey-akhalkov commented on #445
Hey @thotegowda, got it, thanks for the clarification, please let us know if you see any issues or have any questions.

[2017-05-25 12:32] sergey-akhalkov commented on #449
Hello @afilp, thank you for reaching us.
The current workflow with single GitHub and single CodePush account fits for most of the users, so we've not heard such kind of requests before. Currently, we are extremely backlogged and working on other high requested features, but if you have time and ability you could try to publish PR that implements this functionality - we will be very grateful.

Plea

[2017-05-28 21:13] luqiuyuan opened #452 "GitHub account was deleted"
Is that possible to restore a code-push account associated with a deleted GitHub account?

More specifically, I registered a code-push account using a GitHub account. However, I converted the GitHub account into an organization, which results in the GitHub account deleted. Now I cannot login with my code-push account anymore since the associated GitHub account does not exist anymore. Is that possi

[2017-05-29 07:40] max-mironov commented on #452
Hi @luqiuyuan, I believe @pniko has already replied your question via email, just duplicate his answer here:

Please let us know if any issues.

[2017-05-29 18:32] jvelezc commented on #247
+1

[2017-05-29 18:37] joey0xx commented on #247
+1

[2017-05-31 18:39] luqiuyuan commented on #452
Hi Max,

Thanks for your reply. I cannot do the transfer since I cannot login into
my original code-push account anymore.

Is that possible to transfer the app without login?

Best Regards,
Lu

On Mon, May 29, 2017 at 3:40 AM, Max <notifications@github.com> wrote:

[2017-05-31 20:36] luqiuyuan commented on #452
I have tried to register a new GitHub account with the same email (possible because the previous Github account has already been deleted).

When trying to login with "code-push login", it said

<img width="714" alt="screen shot 2017-05-31 at 4 32 22 pm" src="https://cloud.githubusercontent.com/assets/27582026/26652774/fa854330-461e-11e7-9f91-108608df21ab.png">

When trying to register with "code-p

[2017-06-01 04:06] mliwski opened #453 "Can't login to codepush"
Hi, I can't login to codepush with my microsoft account. When I registered I have used a previous existing account and registered with no problems (an release version also without a problem). But now I have changed my computer and when try to login to codepush I get the message
[code]
Sou I filled my information on microsoft account but still can't login ... also I tried to add an outlook account

[2017-06-01 10:22] sergey-akhalkov commented on #453
Hi @mliwski, thanks for reaching us, please take a look at https://github.com/Microsoft/code-push/issues/374#issuecomment-278912156
You probably have the same issue, please double check if you basic MS Account info is filled and make sure if your permissions are correct.

Please let me know if any updates.

[2017-06-01 10:59] max-mironov commented on #452
Hi @luqiuyuan, we are sorry about the inconvenience here but as for now we cannot move the apps to the new account due to security.

The messages you receive states that your code push account with such email address is already associated with your previous github account (which was converted to an organization), so seems that you need to use other mail to register.

After you create new CodePush

[2017-06-01 12:46] luqiuyuan commented on #452
Thanks Max, I got it

[2017-06-01 12:50] max-mironov commented on #452
Thanks @luqiuyuan, I believe we can close the issue. Feel free to reach us if  needed.

[2017-06-01 12:50] #452 closed

[2017-06-01 21:29] mliwski commented on #453
I confirmed that the information is filled an also the permissions OK (screen capture), but still can't login ...

Some other facts that maybe helps:

The console is still waiting for an access key
I'm from Argentina and the recent activity shows unusual activity (but can't accept  it as mine)
The browser response with 403 to the call https://codepush-management.azurewebsites.net/auth/callback/mic

[2017-06-02 08:50] sergey-akhalkov commented on #453
@mliwski, do I get it right if the `You've successfully signed in your Microsoft account` message is gone, and currently you are receiving 403 from CodePush?
Did you tried to clear browser cache and cookies or just use another browser?

[2017-06-02 20:31] cooperka opened #454 "Error 403 - This web app is stopped (`code-push release-react`)"
### Issue

Every time I try to `code-push release-react`, I get what looks like a `curl` dump of HTML containing the following error:

[code]

The command used to work, and the last time I ran it successfully (just a few hours ago) it halted partway through with this error:

[code]

Not sure if this earlier error is relevant or not.

### Notes

- Running CLI v1.12.9-beta

[2017-06-02 20:34] iageoghe commented on #454
Hi Kevin,

The CodePush service is currently down for upgrades. The estimated time for the outage is approximately two hours.

If you would like to read more about the upgrades, you can do so here: https://aka.ms/cpandmc

Thank you for your patience.

Ian

Ian Geoghegan | Senior Program Manager
Mobile Developer Division
iageoghe@microsoft.com<mailto:iageoghe@microsoft.com>
707.206.8215 mobile

Fro

[2017-06-02 21:48] cooperka commented on #454
Thanks for the info @iageoghe! It would be nice if the error message were more clear instead of just an HTML dump, but I'm glad it's just a quick upgrade.

[2017-06-02 22:08] JAStanton commented on #454
Agreed with @cooperka the CLI should handle it more gracefully, especially because I am building off the CLI for my promotion pipeline, this was a weird one!!

[2017-06-02 23:22] AndreyNikiforov commented on #454
How I would know that code-push is back online and I can resubmit CI failed builds?

[2017-06-02 23:27] JAStanton commented on #454
@iageoghe I'm guessing that our clients will still be able to query / download code push bundles?

[2017-06-02 23:36] iageoghe commented on #454
This should be the case. We should be back online shortly.

Ian

From: Jonathan Stanton <notifications@github.com>
Reply-To: Microsoft/code-push <reply@reply.github.com>
Date: Friday, June 2, 2017 at 4:27 PM
To: Microsoft/code-push <code-push@noreply.github.com>
Cc: Ian Geoghegan <iageoghe@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/code-push] Error 403 - This web

[2017-06-03 01:11] BretJohnson opened #457 "Dummy issue for README images"
![screen shot 2017-06-02 at 7 51 12 pm](https://cloud.githubusercontent.com/assets/245892/26749409/feb439f6-47d7-11e7-98fd-07d750b856d8.png)

[2017-06-03 01:20] #457 closed

[2017-06-03 19:21] mliwski commented on #453
No, it's the original message ( ... but we couldn't get an email address from it ... ), but the http response code is 403 . I have cleaned up cookies and cache but not worked.

Now I tried with Safari and worked well. I will close this issue, but not sure if something was fixed from the server side or was just black magic 😃

[2017-06-03 19:21] #453 closed

[2017-06-05 09:53] sergey-akhalkov commented on #454
Hey guys, closing this issue, please feel free to reopen or create new one if needed. Please also let us know if you are experiencing any issues after CodePush upgrades.

[2017-06-05 09:53] #454 closed

[2017-06-05 10:00] sergey-akhalkov opened #458 "Add more user friendly message in case of CodePush service is down due to errors/upgrades or so"
In case of CodePush service is down console output prints HTML markup:
[code]

Enhancement: need to add more informative and user friendly message

Relates to https://github.com/Microsoft/code-push/issues/454

[2017-06-05 10:02] scott108 opened #459 "app add <project> windows <platform> internal server error"
When I added app with app add myApp windows react-native, and I got the error message: Internal server error.
It didn't happen in android and ios.

[2017-06-05 12:53] farwayer opened #460 "Use the same app for iOS and Android"
It is not possible to use the same app for iOS and Android build after Mobile Center integration. It is uncomfortably for such technologies as React Native because it forces to use name postfixes (such as app-ios, app-android) and several code-push keys groups.
Old behaviour with several build variants was more convenient.

[code]

[2017-06-05 13:16] sergey-akhalkov commented on #459
Hi @scott108, thanks for filling the issue and sorry for the inconvenience - we've started investigation/fixing and we'll let you know if any updates.

[2017-06-05 17:23] BretJohnson commented on #459
@scott108 Thanks for alerting us to this. We see what the problem is now. We hope to have the fix in place by end of day.

[2017-06-05 18:01] orlando opened #461 "[CLI] App Ownership Transfer"
Version: CLI v2.0.0-beta

There are references to the `code-push app transfer` command in the source code, we want to transfer the ownership of an application we developed for a client to them, but seems like this command is missing in this version.

Is this something that should have been in the CLI and it was removed by mistake? Or is something that was removed?

Thanks!

[2017-06-05 22:18] BretJohnson commented on #459
@scott108 We just deployed the fix for this, which looks good in my testing. Thanks again for letting us know about this problem. Please let us know if you see any other issues or have any other feedback in general, now that CodePush is part of Mobile Center  (since Friday).

[2017-06-05 22:18] #459 closed

[2017-06-05 22:33] BretJohnson commented on #460
@farwayer Mobile Center will eventually have better support for cross-platform apps (like with React Native and Xamarin). That's definitely on our backlog, as we've gotten several requests for it, though it's still likely a few months out.
@iageoghe @panarasi Shorter term, allowing adding apps for multiple platforms at the same time, with a syntax like @farwayer suggests above (while still creatin

[2017-06-05 22:58] BretJohnson commented on #461
Unfortunately, Mobile Center doesn't currently support transferring an app to another user, so we removed the CLI option on purpose, as it's not currently supported. User to user app transfer will come later for Mobile Center (soon, I think).

However, Mobile Center does support transferring an app to an organization. And in many cases that's actually a better option for folks, having apps owned b

[2017-06-05 22:59] BretJohnson commented on #461
Adding @iageoghe here too, as we should ideally document the steps above, for others.

[2017-06-05 23:09] orlando commented on #461
Thanks @BretJohnson

[2017-06-05 23:38] TheAdamizer opened #462 "UWP platform type not supported by CodePush"
Hi there.  We have been running into this error since the 2.0.0 release.  Before we weren't running into any issues trying to use codepush for our uwp app: was this change intentional?
![codepush_error](https://cloud.githubusercontent.com/assets/10438809/26807753/d9bce612-4a47-11e7-901a-f78766bfa30e.png)

[2017-06-06 09:33] booker-laputa opened #463 "How to get Remote package appVersion?"
I am using 2.0.0-beta

I want users to update the new binary when there is one.

Is there a function to retrieve remote package appVersion?

I tried check checkForUpdate but it return nulls when there is a new update targeting newer binary version

[2017-06-06 09:51] sergey-akhalkov commented on #463
Hi @booker-laputa, thank you for reaching us. CodePush SDK is designed to use current app version to check for updates, so in case current app version does not match with remote package appVersion - CodePush SDK will show that there is no updates available.
To notify users that new binary version is available you could simply release new CodePush update for old app version that will contain notifi

[2017-06-06 09:55] booker-laputa commented on #463
@sergey-akhalkov Thanks for your reply.
So I have to make two bundle update?
One for the old app version, displaying "new update" notification, and the other one for the new app version?

[2017-06-06 11:29] sergey-akhalkov commented on #463
@booker-laputa, if I get it right, you only need to make CodePush update for the old app version. That update will show "new binary version available via app store" notification, so users will be able to install it.
There is no need to make additional update for new binary version or your app - only in case it requires some fixes and improvements.

Please let me know if you have any questions.

[2017-06-06 12:08] sergey-akhalkov commented on #462
Hi @TheAdamizer, thanks for reaching us. I've tried to reproduce the issue but with no luck, do you still experiencing it?
If so, could you please try to login to [mobile.azure.com](https://mobile.azure.com) using your CodePush account and import your `<appName>` as `react-native windows`, then verify if the issue still reproduces?

[2017-06-06 13:23] Z0mBee opened #464 "Can't login with access key"
Hi
I am having problems logging in to code-push with an access key.
I created an access key with

`code-push access-key add "My Key"`

When I try to login with the generated access key with
`code-push login --accessKey <accessKey>`

I get
`[Error]  Invalid access key.`

Code push cli version: 2.0.0-beta
My code push account is authenticated with GitHub.

I tried it with a different account and old

[2017-06-06 15:15] bollogo commented on #349
Hi, I still had the same problem and the issue was that I used tabs instead of whitespaces in the gradle file and therefore the versionName was found under an object with the key: "\tversionName". Hope, this might help someone still facing this issue.

[2017-06-06 16:46] sergey-akhalkov commented on #349
Hi @bollogo, got it, thank you for the clarification and let me know if you have any questions or see any issues.

[2017-06-07 01:56] booker-laputa commented on #463
@sergey-akhalkov
Assumed I have app v1.0 and bundle v100 now.
After a while, I have a major update v2.0 and the bundle is updated as well .
I want to force users to update the binary to v2.0.

In this case, should I update a dedicated bundle targeting binary v1.0 for showing the new binary update notification?

Moreover, I wonder why the checkForUpdate return null, I have passed the deployment key

[2017-06-07 02:25] booker-laputa commented on #463
I'm sorry I post in the wrong repository, I will close it now

[2017-06-07 02:25] #463 closed

[2017-06-07 09:01] sergey-akhalkov commented on #463
@booker-laputa, got it, please feel free to reopen if needed.

[2017-06-07 14:43] sergey-akhalkov opened #465 "Add "Change your github primary email carefully" warning while register CodePush account"
As of now there are a lot of requests with the following content - "My primary GitHub email has been changed, so I can'not login to CodePush anymore".

So it would  be useful to set up warning that will prints the following yellow message: "Before changing your primary GitHub email please transfer your CodePush app to a new organization using Mobile Center."

[2017-06-07 14:53] sergey-akhalkov commented on #464
Hi @Z0mBee, thanks for reaching us and sorry for the inconvenience. I can confirm that I can also reproduce the issue, so we have started investigation and fixing. Will let you know if any updates.

[2017-06-07 18:17] BretJohnson commented on #464
@Z0mBee - Thanks for reporting this. We found the problem and I believe we'll have a fix deployed in a few hours. I'll update this issue when the fix is deployed.

[2017-06-07 20:53] duranmla commented on #461
@BretJohnson thanks for your help, everything seems to work perfectly, however, whenever I add the organization along with the collaborators the current issue is that I am not able to define the deployments as the documentation says:

So for our case, we do not have any deployment by default as I have created the app using azure console under an organization as you suggested before.

The error loo

[2017-06-07 21:12] BretJohnson commented on #461
@duranmla Thanks for the feedback. A few notes:
- We'll fix the doc; thanks for alerting us to that. Now, in this scenario, you do need to create the "standard" deployments manually, which you can do via `code-push deployment add <app-name> --default`.  There will also be web UI for this (visible soon).
- As for `code-push deployment ls <OrganizationName>android` not working, that looks like a bug

[2017-06-08 01:15] mikehazell opened #466 "Cannot see apps for which I have been made a colaborator"
`code-push-cli version: 2.0.0-beta`

I'm having an issue with the CLI. I have been added as a collaborator to an application but when I run `code-push app ls` the app is not listed.

I have tried the following:
- Looking at the app owners machine I am listed as a collaborator.
- I have double checked that the email listed is the same as what I get when I run `code-push
whoami`
- Have logged out an

[2017-06-08 01:38] mikehazell commented on #466
Ok, I worked it out. Didn't notice the emails coming in.

For future reference. You need to check your email and accept the invitation for each app you are added to.

Maybe you could update your documentation to say that the process has changed and collaborator needs to accept an invitation.

[2017-06-08 07:28] BretJohnson commented on #464
@Z0mBee - We've deployed the fix now. Can you please try again (you'll have to recreate the access key) and ensure all looks good for you now.

[2017-06-08 07:29] #464 closed

[2017-06-08 07:33] BretJohnson commented on #466
Hi. Thanks for the feedback. We'll look at updating the CLI text and doc here to make this clearer, as I agree it can be confusing. I'll leave this issue open for now until we fix that.

[2017-06-08 13:00] duranmla commented on #461
I have done two things:

1. I have created a new organization with my name just to test and make like:

[code]

2. I have tried to change the name of my client application using the mobile.azure console to match the format you has suggested (I know it is not a technical matter but I like formats). And again I had:

[code]

Maybe I am doing something wrong? this is how the console looks like:

![mo

[2017-06-08 19:43] BretJohnson commented on #466
Ian suggested this message:
`Collaborator invitation email for <appName> sent to <email>"
instead of "Successfully added <userEmail> as a collaborator to the app <appName>.`
Will deploy an update soon with this.

[2017-06-08 19:55] BretJohnson commented on #461
Hi.  I'll mention a couple things here:

We'll have a fix for the slash issue shortly, late today or tomorrow. But until it's deployed, the workaround is that instead of doing: this:
    `code-push deployment add <OrganizationName>/client-android --default`
do this:
    `code-push deployment add client-android --default`
And as long as you don't have multiple apps (say in different orgs) named the

[2017-06-08 19:58] BretJohnson commented on #462
I should have mentioned this earlier, but a few days ago we did indeed have a bug where Windows support didn't work, but that got fixed early this week. So I'm pretty sure this is fixed & I'm going to go ahead and close it.  But @TheAdamizer please let us know if you see any other issues.

[2017-06-08 19:58] #462 closed

[2017-06-08 21:33] duranmla commented on #461
Thanks for being in sync, I think we have solved it. I appreciate your time @BretJohnson

👍

[2017-06-08 21:45] BretJohnson commented on #461
@duranmla Sounds good. And we're about ready to update the doc to use the text below. If you have any feedback on this text, let us know.

Ownership Transfer

The update to version 2.0.0.0 saw the removal of the app transfer commmand. You may still transfer ownership of your applications by managing it through an organization. This requires that you visit Mobile Center and execute a few steps.

1.

[2017-06-08 22:53] lucasromanojf opened #469 ""Something went wrong while fetching user profile. Please contact support""
Hi,

when I run "code-push login", it gives me an empty token. When I try to access https://mobile.azure.com/login, the message "Something went wrong while fetching user profile. Please contact support" is shown.

Please, help me!

[2017-06-08 22:57] lukemiles commented on #469
+1, happening to me to

[2017-06-08 22:58] lukemiles commented on #469
Getting this message

[2017-06-08 22:59] Clawg commented on #469
Same here

[2017-06-09 07:17] sergey-akhalkov commented on #469
Hey guys, thanks for reaching us and sorry for the inconvenience. I've just successfully logged in and seems like the issue is gone, do you still experiencing it? We'll try to figure out what goes wrong and let you know if any updates.

[2017-06-09 08:50] BretJohnson commented on #469
All - Is everything ok now? We did have a site outage, for like 25 minutes or so, at the time you were seeing this, so that's surely the cause. But let us know if you see any other issues.

[2017-06-09 08:50] #469 closed

[2017-06-09 08:52] Clawg commented on #469
Everything is working for me now. I had to logout and get a new access token but it's seems fine now. Thanks

[2017-06-12 02:00] iageoghe commented on #331
@sergey-akhalkov, please add logic to also search search dev-dependencies if the initial search does not yield a `react-native` dependency.

[2017-06-12 02:29] iageoghe commented on #187
@sergey-akhalkov Would an automatic rollback create a new "v2" release for everyone? If so, what if the user with the automatic rollback was the _only_ user whose v1 update auto-rolled back?
If the answer to the first question is "yes", for the installation where we have a v1 auto-rollback scenario could the client set the `shouldRunBinaryVersion` flag to true and reload? Is that possible?

[2017-06-12 02:48] iageoghe commented on #273
@sergey-akhalkov Your two implementations suggestions make sense. Please schedule with @pniko

[2017-06-12 04:06] joeferraro opened #472 "Unable to patch label"
Hi I'm using `2.0.0-beta` of `code-push-cli` and I'm getting an error when trying to patch `label`:

#### Patching with just `--label`
[code]

###### Error Message
[code]

#### Patching with `--label` and `--description`
[code]

###### Error Message
[code]

[2017-06-12 04:15] iageoghe commented on #472
Hi Joe, can you confirm that your label is indeed v0.0.2?
Run the `code-push deployment h <appName> <deploymentName>` command to verify.

[2017-06-12 05:02] BretJohnson commented on #466
I just published an updated CLI (2.0.1-beta) that contains the improved add collaborator message above. Thanks for the feedback here, @mikehazell.

[2017-06-12 05:02] #466 closed

[2017-06-12 05:07] BretJohnson commented on #461
@duranmla I just published a CLI update (v2.0.1-beta) which fixes the slash in app name problem. Please update to the latest CLI with `npm install -g code-push-cli@latest` and let us know if you see any other issues here. We also made the doc improvement above, here https://github.com/Microsoft/code-push/tree/master/cli, better explaining the org workaround for app transfer going away.

[2017-06-12 05:07] #461 closed

[2017-06-12 05:10] BretJohnson commented on #465
@sergey-akhalkov Can you test and see if this applies to Mobile Center in general, not being able to login after changing primary GitHub email. If so, I wonder if there are workaround there.

[2017-06-12 06:04] BretJohnson commented on #472
@joeferraro - The label itself can't be changed. You can only use it to specify the particular release that you want to update other fields on.
@iageoghe - We could probably improve the usability here somehow, as it seems a bit confusing at first. I wonder if `Label` is really the best name for this thing. Maybe `Release Number` or something instead. We should at least improve the error message ab

[2017-06-12 13:46] PawelWesolowski opened #473 "Outdated docs about updating access-key"
From the [docs](https://github.com/Microsoft/code-push/tree/master/cli#access-keys):

`code-push access-key patch <accessKeyName> --name "new name" --ttl 10d`

When I run it I got:

[code]

After update (now I have cli version 2.0.1-beta) the error is not there but I am getting help about usage:

Usage: code-push access-key <command>

[code]

There is nothing about -ttl anymore. Does it mean that

[2017-06-12 17:01] BretJohnson commented on #473
@PawelWesolowski Thanks for the feedback here. Yes, in Mobile Center access keys (which Mobile Center calls API Token elsewhere in the UI, like under user settings in the web UI), never expire currently. Mobile Center might add support for expiring tokens in the future, but it's not there currently. Also the tokens currently can't be renamed once created, in Mobile Center. So `patch` went away.

W

[2017-06-13 00:19] joeferraro commented on #472
Cheers guys, this is 100% my fault. Went on a coding bender over the weekend and encountered this in a late night haze. I was misinterpreting the nature of the `label` field and realize now I can simply use `description` to stamp my bundle version. I agree with @BretJohnson that the documentation could be made a bit clearer. I'll leave open for now if you guys would like. Cheers!

[2017-06-13 01:03] iageoghe commented on #472
@joeferraro You coding bender helped reveal a weakness in our naming and for this we owe you thanks. Thank you!
@BretJohnson I think you are correct.

[2017-06-13 01:03] #472 closed

[2017-06-13 11:19] sergey-akhalkov commented on #273
Hi @iageoghe, got it, will do.

[2017-06-13 11:57] sergey-akhalkov commented on #331
Hi @iageoghe, I've published PR https://github.com/Microsoft/code-push/pull/475, so I'm closing this for now, please feel free to reopen and let me know if you have any questions or see any issues.

[2017-06-13 11:57] #331 closed

[2017-06-13 18:23] iageoghe commented on #473
Documentation patched.

[2017-06-13 18:23] #473 closed

[2017-06-14 17:36] sergey-akhalkov commented on #187
Hi @iageoghe,

Currently there is no logic that creates new release in case an automatic rollback occurs for some users and we could implement such approach. But I can see some issues with this approach:
1. In case we have 100 users and 99 of users have successfully installed an updated - we could have a situation when last user has an automatic rollback. It means that new "v2" release will be cre

[2017-06-14 21:12] ndbroadbent opened #477 "New Website Logo: SudoBlock"
Please fill the following out:

- Name: SudoBlock
- Homepage (or app store) url: https://sudoblock.com
- Logo:
![itunesicon512w](https://user-images.githubusercontent.com/139536/27154841-bc06bb8a-5180-11e7-8ae7-7af4e913e6a3.png)

[2017-06-15 01:59] joncursi opened #478 "Question: potential failure scenario"
I'm tempted to use CodePush, but I have thought of one failure scenario that I can't find any docs online about to ease my mind. Consider the following scenario:

Build and deploy version A of the app through the App Store.

Build and code push version B containing all JS changes.

Build and deploy version C containing native and Js changes through the App Store.

Build and code push version D of

[2017-06-15 12:49] sergey-akhalkov commented on #465
Hi @BretJohnson, I've tried the following scenario:
1. `code-push logout`
2. change github primary email
3. logout form github
4. `code-push login` with github

and everything works well!

Currently I'm searching for workarounds and let you know if any updates, but it seems like the issue is gone after migration - Mobile Center is able to login with github otherwise github primary email has been c

[2017-06-15 16:48] iageoghe commented on #478
Hi @joncursi, CodePush handle lets you mange the situation you describe with [semantic versioning](http://semver.org/). Each time you make a [release](https://github.com/Microsoft/code-push/tree/master/cli#releasing-updates-general) with CodePush you specify the target binary version that your update should apply to. So in the scenario you describe above, CodePush version B would target binary ver

[2017-06-15 17:45] #478 closed

[2017-06-16 11:06] sergey-akhalkov commented on #465
Hey guys, I've not found any workaround that could break login flow - I think that the only thing that could break it - is deleting github account, but I believe it is very uncommon case. We've discussed this use case with @pniko and believe that this has low priority and should be investigated later.

So closing this for now, we'll reopen it later if needed.

[2017-06-16 11:06] #465 closed

[2017-06-16 11:14] sergey-akhalkov commented on #273
Hi @iageoghe, we've scheduled this with @pniko and this item will be implemented in order of priority, please let me know if you have any considerations or see any issues.

[2017-06-18 18:18] Borisboky opened #479 "The app isn't updated"
I'm trying to update my React Native app with Code Push. My code is as follows:

    export default class codePushTest extends Component {
        constructor(props) {
            super(props);
            this.state = {
                updateAvailable: false,
                downloadingUpdate: null,
                installingUpdate: null,
                downloadProgress: null,
            }

[2017-06-19 07:50] max-mironov commented on #479
Hi there @Borisboky, thanks for reaching us.

So could you please verify that you have wrapped you app within codepush as it is described in tutorial.
[code]

Please let us know if the following fixed your issue.

[2017-06-19 16:42] joshuaferrara opened #480 "Replace Website Logo: Track Sats"
HI all, I currently have my app listed in the showcase and would like to replace the current listing as our branding has changed. Thank you for your support and awesome product!

Please fill the following out:

- Name: Track Sats
- Homepage (or app store) url: https://tracksats.ferrara.space/
- Brand Guidelines/Licensing: N/A
- Logo: https://tracksats.ferrara.space/launcher.svg

[2017-06-20 07:54] Borisboky commented on #479
No, I haven't wrapped it. It works after wrapping.

P.S. It is not so obvious in the docs, for the most important part of the puzzle, at least for me.

Anyway, thanks for the help. 👍

[2017-06-20 07:58] max-mironov commented on #479
Thanks for feedback and quick turnaroud @Borisboky ! Will look at on how to improve this in our docs (also feel free to share your ideas or create a PR for this - that would be much appreciated).

In the meanwhile I believe we can close the item if your issue was fixed.

[2017-06-20 07:58] #479 closed

[2017-06-20 08:03] Borisboky commented on #479
Yes, you can close it. Thanks.

[2017-06-20 11:02] adambene opened #481 "How to list apps with os attribute?"
version: `code-push-cli@2.0.1-beta / code-push@2.0.1-beta`

`code-push app ls` does not show the os attribute that was given at creation.

How to do that?

[2017-06-20 16:05] sergey-akhalkov commented on #481
Hi @adambene, thanks for reaching us. I've seen that you've asked for this in Discord channel, has been your question resolved or do you need any help now? If I get it right - it would be convenient for you if apps table will also contain `os` and `platform` columns?

[2017-06-21 11:58] adambene commented on #481
@sergey-akhalkov It was not clear for me what the `os` flag is for. If I am right, it is only for those who use the mobile.azure.com web interface. Anyway it would be convenient to include it in the table along with the platform. Thanks!

[2017-06-21 12:44] iageoghe commented on #460
@BretJohnson @sergey-akhalkov The syntax fix seems reasonable and like extremely low-hanging fruit; couldn't it be done from the CLI itself?

[2017-06-21 13:45] iageoghe commented on #480
Hi Josh, would you please resubmit this asset as a png or jpeg? Thanks.

[2017-06-21 17:06] iageoghe commented on #477
Updated.

[2017-06-21 17:06] #477 closed

[2017-06-21 17:06] iageoghe commented on #480
Updated!

[2017-06-21 17:06] #480 closed

[2017-06-21 17:06] iageoghe commented on #430
Updated!

[2017-06-21 17:06] #430 closed

[2017-06-22 03:42] sm1ddy commented on #247
+Juan

[2017-06-22 07:55] cosmith commented on #430
Thanks!

[2017-06-22 10:44] yaronlevi opened #482 "App crash when trying to do CodePush.restartApp in RN@0.45.1"
- nexus 5 device
- react native@0.45.1
- code push with default setup (just wrapping the top component with codepush() )

When using the default config, when CodePush finishes the bundle download and tries to restart the app, the app exists with a crash :""Trying to add a root view with an explicit id already set. React Native uses the id field to track react tags..."

Opening the issue here as it

[2017-06-22 10:52] sergey-akhalkov commented on #482
Hi @yaronlevi, thanks for reaching us. Yeah, that is know issue for RN 0.45 and I've mentioned it here https://github.com/Microsoft/react-native-code-push/issues/878#issuecomment-308695135

I believe that we can close the issue due to it relates to https://github.com/Microsoft/react-native-code-push/issues/878

Please let me know if you have any questions or considerations.

[2017-06-22 11:15] sergey-akhalkov commented on #482
So I'm closing this for now, please feel free to reopen if needed.

[2017-06-22 11:16] #482 closed

[2017-06-22 12:18] sergey-akhalkov commented on #481
@adambene, got it, thanks for the clarification.

[2017-06-22 18:29] BretJohnson commented on #481
This is a good suggestion.
@iageoghe I'm thinking we do it (at a a minimum) in the Mobile Center CLI. Would be handy for non-RN apps as well. Though having a standard OS suffix on app names lessens the need for this, still good to have.

[2017-06-22 18:31] BretJohnson commented on #460
@iageoghe Yeah, we could do it from the CLI itself. I would think we'd want to spec & do this (at a minimum) in the Mobile Center CLI.  We probably want other MC PMs to sign off on the naming convention too, just to ensure we are all bought in there.

[2017-06-25 11:55] D1no commented on #473
Just fell into that trap trying to set a high expiration for our CI Service. Still wrong here:
https://microsoft.github.io/code-push/docs/cli.html#link-2

[2017-06-25 14:56] iageoghe commented on #473
@D1no - I am so sorry to have missed that; documentation has been corrected. Thanks for pointing out the error.

[2017-06-26 14:54] imreFitos opened #483 "limit collaborator access to deployment"
Is there a way to restrict a collaborator to "Staging" deployment, or do I have to setup a separate application to achieve this? Thanks

[2017-06-27 08:54] max-mironov commented on #483
Hey @imreFitos, unfortunatelly there is no way currently to restrict the collaborator access to specific deployments.
Please see [this reference](https://github.com/Microsoft/code-push/tree/master/cli#app-collaboration) for details.

It could probably be a good enhancement although we haven't got any requests about this yet. So for now you could always create a separate app to achieve your require

[2017-06-27 13:01] #483 closed

[2017-07-01 17:08] rtm commented on #341
With other cordova plugins, I usually just do `npm install --save-dev @typings/cordova-plugin-code-push` and everything works.

I don't know how other projects handle their workflow, but I imagine there is a deploy step to publish the typings file to npm.

Since some large percentage of Cordova apps are written in Angular, and Angular apps are almost always written in TypeScript, this would be a g

[2017-07-06 21:07] iageoghe commented on #481
Refinement added to larger feature request in queue.

[2017-07-06 23:03] iageoghe commented on #280
@TombolaShepless @dkpalmer @kristojorg @pke Sorry for the super late response. We hear you and are taking your requests seriously. When I have a better sense of when we will start work on  label management I will let you all know.

[2017-07-07 10:49] kelset commented on #438
Hey @max-mironov, it's happening again now.
Running v2.0.1 of the cli.

[2017-07-07 10:51] #438 closed

[2017-07-07 12:15] Webrusterkk opened #484 "Unable to remove the App from the list"
Code-push-cli version  : v2.0.1 beta

┌─────────────────────────────┬─────────────────────┐
│ Name                                                                 │ Deployments                                │
├─────────────────────────────┼─────────────────────┤
│ Master-E.K-01  (Master E.K)                               │
├─────────────────────────────┼─────────────────────┤
│ Master-E.K-02  (Ma

[2017-07-10 11:43] sergey-akhalkov commented on #484
Hi @Webrusterkk, thanks for reaching us. Could you please take a look at https://github.com/Microsoft/cordova-plugin-code-push/issues/257#issuecomment-309146483 and let me know if it helps?

[2017-07-10 12:01] Webrusterkk commented on #484
@sergey-akhalkov  thanks for the reply,

after trying with the display name , i'm getting the following error:

[code]

[2017-07-10 12:07] sergey-akhalkov commented on #484
@Webrusterkk, could you please try to login to [Mobile Center](https://mobile.azure.com/) using email that prints `code-push whoami` command and remove the using portal UI? Please let me know if any changes.

[2017-07-10 12:11] Webrusterkk commented on #484
@sergey-akhalkov  there is a Problem over there, i am using feedback service through hockey app and its been integrated to there.. so my question is will that Hockey app name will be shown in `code-push app ls` ?

[2017-07-10 12:25] sergey-akhalkov commented on #484
@Webrusterkk, could you please clarify what do you mean by "Hockey app name will be shown in `code-push app ls`"?
`code-push app ls` command displays the list of the apps that have been created by `code-push app add ...` command or in Mobile Center Portal.

[2017-07-10 12:29] Webrusterkk commented on #484
@sergey-akhalkov  thanks for the clarification , i haven't created those two names `(Master-E.K-01,02)` . i'm not aware the we can use code-push through mobile center , so i haven't created from the mobile center

[2017-07-10 12:42] sergey-akhalkov commented on #484
@Webrusterkk, is there a chance that you has been added as a [collaborator](https://github.com/Microsoft/code-push/tree/master/cli#app-collaboration) for those apps?

[2017-07-10 12:47] Webrusterkk commented on #484
@sergey-akhalkov  i'm the collaborator for the apps in Hockeyapp , one with the MasterEKiOS was only created in the code-push only common thing that lies between three is that they share the common `package name`

[2017-07-10 13:02] sergey-akhalkov commented on #484
@Webrusterkk, so, do I get it right if the issue is resolved now and you are able to delete those apps via Portal UI?

[2017-07-10 13:21] Webrusterkk commented on #484
@sergey-akhalkov  actually they are the apps related to Hockey-app , why am i seeing in code-push cli ?

[2017-07-10 13:44] sergey-akhalkov commented on #484
@Webrusterkk, could you please Open one of those apps -> Manage App -> Go to app settings -> Collaborators and share me with the list of collaborators? I believe you can see those apps because you are a collaborator for them.

[2017-07-10 14:00] Webrusterkk commented on #484
@sergey-akhalkov  no please , i couldn't see them..

[2017-07-10 14:14] sergey-akhalkov commented on #484
@Webrusterkk, if I get it right from your previous messages:

you are a collaborator/owner for `Master-E.K-01 (Master E.K), Master-E.K-02 (Master E.K)` apps, that is the reason why you can see them in CodePush CLI too. Does it make sense?

[2017-07-10 15:11] Webrusterkk commented on #484
@sergey-akhalkov  yup that makes sense , now coming to my question , i can't remove those app from cli? as i'm the Owner for those apps ...

[2017-07-10 21:25] Chubacca commented on #428
If anyone else is still having trouble with this - I just commented out almost my entire gradle file (but left the version section) and was able to release. You can do the same until the gradle-to-js issue is fixed.

[2017-07-11 06:18] MrHubble commented on #383
My problem was with yarn and was fixed with: `export PATH="$PATH:$(yarn global bin)"`

[2017-07-14 19:23] nionata opened #485 "New Website Logo: Scanned"
Please fill the following out:

- Name: Scanned
- Homepage (or app store) url: http://scanned-app.com/
- Brand Guidelines/Licensing: N/A
- Logo: https://www.dropbox.com/s/kfsq8ohbhabknxq/logo.png?dl=0

[2017-07-14 21:19] eladmoshe commented on #307
Any update on the status of this feature? Once this is implemented this is going to be huge win for Code Push for enterprise apps. Code Push is probably a no-go for most of the people who have to fill and sign some ISO document once a year, and there are lots of those :)

[2017-07-14 21:59] iageoghe commented on #307
@eladmoshe This is one of our top priorities and we are actively working on this feature now.

[2017-07-19 10:56] max-mironov commented on #377
Closing this as PR #429 was merged to Master.

[2017-07-19 10:56] #377 closed

[2017-07-19 11:52] sergey-akhalkov commented on #484
Hi @Webrusterkk, sorry for the delayed response. Could you please provide us with the output of the following command `code-push collaborator ls "Master-E.K"` to make sure if you are collaborator if this app or not. In case you are collaborator you are not able to delete it. Please let us know if any updates.

[2017-07-19 13:25] Webrusterkk commented on #484
This is the Error i'm getting after typing that command in `[Error]  App "Master-E.K" does not exist.`
So i tried with this command `code-push collaborator ls "Master-E.K-01"` this is the o/p i got

` krishna30kishore@gmail.com (Owner) │ venkatramanr@newmeksolutions.com  `

but again this was created in the Hockey App , so as i'm in the collaborator ls i can able to see this in my
codepush cli ? i

[2017-07-19 14:31] sergey-akhalkov commented on #484
@Webrusterkk, could you please try to perform `code-push app rm "Master-E.K-01"` command instead of `code-push app rm "Master-E.K-01 (Master E.K)"` and let me know if there any changes?

[2017-07-19 14:56] Webrusterkk commented on #484
@sergey-akhalkov  this is the error i'm getting

`[Error] Internal Server Error `

[2017-07-19 15:00] sergey-akhalkov commented on #484
@Webrusterkk, got it, thank you, we'll try to figure out what goes wrong here and let you know if any updates.

[2017-07-20 10:18] sergey-akhalkov commented on #484
@Webrusterkk, could you please try to remove your apps via Mobile Center Portal ones again and let me know if it works? We are trying to figure out if the issue is in code-push-cli or in code-push service itself. Thanks for the patience.

[2017-07-20 11:47] Webrusterkk commented on #484
@sergey-akhalkov  `Master-E.K-01` and Master-E.K-02` are two apps that can be seen in the codepush cli ,in the Mobile Center this is the image ,
https://user-images.githubusercontent.com/11678494/28018182-dd820210-6599-11e7-9cd7-68b8be0192ba.PNG

so i couldn't figure out which one will be Master-E.K-01  or Master-E.K-02 that is related to the Code-push cli

[2017-07-20 11:59] sergey-akhalkov commented on #484
@Webrusterkk, please try to open one of those apps and try to take a look at browser url to determine what the app has been opened. As for me I have app with name `rncp 210 release`, but my url looks like: `https://mobile.azure.com/users/sergey.akhalkov/apps/rncp210release/settings/details`. As you can see the system app name is `rncp210release` and user friendly app name is  `rncp 210 release`.
P

[2017-07-20 12:04] Webrusterkk commented on #484
@sergey-akhalkov  when i tried the way you said `https://mobile.azure.com/users/krishna30kishore-62z7/apps/Master-E.K-01/settings` that was my url in browser and it is asking for `Edit in HockeyAPp`  but no option to delete. Even i tried near the hamburger icon , `Copy app secret ` is only one i can see in the list

[2017-07-20 12:08] sergey-akhalkov commented on #484
@Webrusterkk - could you please take a look at the following image and let me know if it helps?
![image](https://user-images.githubusercontent.com/4928157/28416602-568773f0-6d5d-11e7-86dd-fb3074dbe12d.png)

[2017-07-20 12:10] sergey-akhalkov commented on #484
Do I get it right if there is now "Delete App" options?

[2017-07-20 13:09] Webrusterkk commented on #484
Yes , there is no delete app option  ,

here is the image :

![capture](https://user-images.githubusercontent.com/11678494/28418727-63a04c70-6d7a-11e7-9116-ccc58b220101.PNG)

Another app i.e `(MasterEKiOS)`   i can able to see the Delete Option and (i can able to delete this in Code-push cli itself , i tried before moving my app to appstore) . For reference please find the image:
![capture1](https

[2017-07-20 13:22] sergey-akhalkov commented on #484
@Webrusterkk, got it, thank you for the clarification. It looks weird, so I'll try to figure out what goes wrong here and let you know if any updates. Thanks for the patience.

[2017-07-20 13:30] Webrusterkk commented on #484
@sergey-akhalkov  No -problem , any further info please do ask me , i will provide what ever info i can.

[2017-07-21 07:56] sergey-akhalkov commented on #484
Hi @Webrusterkk, I've found out that Mobile Center (and CodePush too) does not currently support apps deletion that have been migrated from HockeyApp, but we are working on it. As workaround, you could try to delete the apps via HockeyApp portal itself.

Also, we are going to change "internal server error" message to more informative and user-friendly.

Please let me know if you have any questions

[2017-07-21 08:17] Webrusterkk commented on #484
@sergey-akhalkov  in the `code-push app ls` is there a way to see the apps that are related to code-push only because want to keep it clean and focused to the deployment only, Hockey app we are using it as distribution , so  is there a chance to see the list only added through code-push ?

[2017-07-21 10:58] sergey-akhalkov commented on #484
@Webrusterkk, unfortunately, I don't think so, we only have `code-push app ls` command that has  no additional parameters, so it prints all available apps only. I'll try to figure out what we could do here and let you know if any news.

[2017-07-21 11:34] Webrusterkk commented on #484
@sergey-akhalkov  now i came to know that if there are no `Production/Staging` those apps are not created through code-push , before that we thought only apps related to code-push will be seen , now i will make aware of my team about this . thanks for the TIP :)

[2017-07-21 15:16] max-mironov commented on #485
@nionata you logo was added, thanks for this!

[2017-07-21 15:16] #485 closed

[2017-07-22 10:34] Rahulsss443 opened #486 "is Apple rejects the code push app ?"
This is first time i am using any hot code fix SDK in my apps. I did some research and found that apple is rejecting the app because of this SDK. Can anybody tell should i go with the code push on apple store.

I know this is not the right place to ask this question but i am not able get the right answer from any other place.

Thanks.

[2017-07-24 17:08] iageoghe commented on #486
We are really sorry to hear that your app was rejected. That being said, we know if no known App Store rejections where CodePush has been determined to be the cause. Can you provide us with some more detail please? What did you use to write your app? What 3rd party components or packages did you include with your application?

Thanks.

[2017-07-25 11:48] Gavin-js opened #487 "what's wrong ?"
![image](https://user-images.githubusercontent.com/10543889/28570753-2a4fe36c-7172-11e7-8d4e-2f217b3c620c.png)

[2017-07-25 12:01] sergey-akhalkov commented on #487
Hi @Gavin-js, thanks for reaching us. Please use `react-native-code-push` repo to create new issue using [this template](https://github.com/Microsoft/react-native-code-push/issues/new).

[2017-07-26 03:03] #487 closed

[2017-07-26 06:44] max-mironov commented on #486
@Rahulsss443 - hi, please let us know if you have a chance to look at this.

[2017-07-28 17:34] JAStanton opened #490 "Question about rollout and disabling behavior"
Here is the scenario... I deployed a new major version of the app via the app store. My first code-push for this major version is an experiment to 25% of my users. I pushed the experiment and I noticed a bug. I fixed the bug and I'm unsure how to proceed? I want to either rollback or update the 25% of the users... Here is what I did:

- I cannot rollback because there is nothing to rollback to (fi

[2017-07-28 19:46] iageoghe commented on #490
Hi, promoting or releasing with a rollout will not automatically target the same devices from a previous rollout. Indeed, that functionality does not currently exist.

If you are at V1 with a rollout that has a bug, my recommendation is to make a release with the original bundle. Why? Currently we don't have a way to rollback to what was shipped with the binary. We have written a specification for

[2017-07-28 20:18] JAStanton commented on #490
Makes sense to me. So what happened to my users that were on my release that I disabled? Do they stay on that release?

[2017-07-28 20:45] iageoghe commented on #490
The users that actually downloaded it will stay on it until they upgrade to your new, baseline release. I would make that release mandatory.

[2017-07-28 20:56] JAStanton commented on #490
@iageoghe this helped immensely thank you!

[2017-07-28 20:56] #490 closed

[2017-07-29 07:33] korovinsrg opened #491 "New Website Logo: [insert name]"
Thanks so much for filing an issue or feature request! We will address it as soon as we can. Please follow these guidelines:

1. This repository is for the CodePush CLI and management SDK. For issues relating to the CodePush client SDK's, please see:
  * react-native-code-push: https://github.com/Microsoft/react-native-code-push
  * cordova-plugin-code-push: https://github.com/Microsoft/cordova-pl

[2017-07-31 06:31] max-mironov commented on #491
Hello @korovinsrg and thanks for reaching us.

You need to fill required fields in order to make it possible for us to add your logo on our site.
Please take a look e.g. on this item as an example of what fields are required:  #485

[2017-07-31 07:15] max-mironov commented on #491
I'm closing the issue currently, please reopen when you get a chance to fill all the required fields.

[2017-07-31 07:15] #491 closed

[2017-08-02 07:57] max-mironov commented on #486
Closing the issue for now, please let us know if any further questions regarding this.
Also you could check out the following links where we have discussed similar question:
1) https://github.com/Microsoft/code-push/issues/415
2) https://github.com/Microsoft/react-native-code-push/issues/748

[2017-08-02 07:57] #486 closed

[2017-08-02 17:03] blairvanderhoof opened #493 "Authentication Failed screen on code-push login"
Getting an Authentication Failed screen when trying to do code-push login

![image](https://user-images.githubusercontent.com/833890/28885184-c5f8462c-7769-11e7-9b17-6d6128b01146.png)

[2017-08-02 17:34] HsanBenJobrane commented on #493
Go check it now, it's working again

[2017-08-02 17:44] #493 closed

[2017-08-03 20:07] mdanics opened #494 "Flags in management sdk?"
Hi,
Im using code push sdk 5.03.

How can I use flags (or equivalent) when calling the release function.

Here's what I have in code:

`codePush.release(appName + "-android","Production", path, targetBinaryVersion="34", {}).then(function(response){
                    console.log(response);
                }).catch(function(error){
                    console.log(error);
                })`

I wan

[2017-08-03 20:46] mdanics opened #495 "Management SDK - The uploaded package was not released because it is identical to the contents of the specified deployment\'s current release.'"
Hi,
Im using code push sdk 5.03.

I am trying to add releases using the sdk, but Im getting the error:
[code]
This happens even if I make sure that I change file content.

Here's my code:
[code]

Any suggestions?
I've tried manually running ionic prepare, and the same issue happens.

I've also tried clearing the deployment history, which makes it so that the code works once, but then after the fir

[2017-08-03 21:02] #495 closed

[2017-08-04 07:26] max-mironov commented on #494
hi @mdanics
So when using proxy to the CodePush account management REST API you are not able to provide `noDuplicateReleaseError` flag this way.
I'm not sure how it can be useful in your case because [the only thing it does](https://github.com/Microsoft/code-push/blob/master/cli/script/command-executor.ts#L1528) is avoiding throwing an error in case resource already exists.
You can handle this in

[2017-08-05 01:31] BrianSo opened #496 "No browser window is opened for `code-push register`"
No browser window is opened after running the following command.
[code]

code-push version: 2.0.2-beta
OS: macOS Sierra 10.12.3
Default web browser: Google Chrome

[2017-08-07 06:20] max-mironov commented on #494
Hi @mdanics, please let us know if you have a chance to look at this.

[2017-08-07 06:24] max-mironov commented on #496
Hi there @BrianSo and thank for reaching us.
At that moment I've tried to follow you repro steps and haven't seen any issues with this.
I've tried it with macOS Sierra 10.12.5, code-push 2.0.2-beta and Chrome browser also.

So can you please confirm that the issue is still active and reproducible for you?

[2017-08-07 12:38] BrianSo commented on #496
Thank you!

At the time that v2.0.2-beta is not working, I tried other tools that also open browser and they worked (karma test and react native remote debugging). At that day I downgraded code-push to 2.0.1-beta and it worked. Today I reinstalled 2.0.2-beta and worked also.

Did you tried it in a brand new environment that have not installed code-push before? If yes I think we can close this now,

[2017-08-07 12:43] max-mironov commented on #496
@BrianSo I believe the problem could be related to some kind of server issue being temporary not available. I've tried it on my local machine and it has previous versions before.
Anyway it would be great if you check out it once more on a new computer tomorrow and let us know the results.

[2017-08-08 07:37] BrianSo commented on #496
Today I tried on a new computer and it worked. Maybe my case was a corner case.

[2017-08-08 07:37] #496 closed

[2017-08-08 07:39] max-mironov commented on #496
Thanks for update @BrianSo and let us know if you see any issues with code push in future.

[2017-08-08 14:39] mdanics commented on #494
hi, sorry for the late reply,

thanks for the link to the cli code, it helps a lot

[2017-08-08 14:39] #494 closed

[2017-08-08 14:41] max-mironov commented on #494
Thanks for the update @mdanics!

[2017-08-08 14:43] mdanics commented on #494
@max-mironov np! this is unrelated, but is there away to be provided with my app name if i have the deployment key for it?

[2017-08-08 14:53] max-mironov commented on #494
I believe no, there is no ability to find `AppName ` by ` deployment key` using CLI.

[2017-08-15 06:12] digaus commented on #410
I also have this bug... ran clear command and then released update to iOS. Now shows  `Active: 0% (1 of 0)`
Is there still being worked on?

[2017-08-15 10:10] max-mironov commented on #410
@digaus unfortunately this issue is still active, we are aware of it and added this item to our backlog.

[2017-08-16 17:23] johnculviner commented on #398
This looks like an option, going to dig in further and I will report back if it is viable: https://github.com/lisong/code-push-server

[2017-08-17 08:23] digaus opened #497 "Management SDK, Uncaught TypeError: Invalid Version: at new SemVer (semver.js:293)"
Wanted to use the management SDK with an Ionic App for easier management, getting this error when trying to create an instance of the CodePush class... any ideas?

[code]

Code-Push CLI: 2.0.2-beta
Code-Push SDK: 2.0.2-beta

[2017-08-17 08:55] syzer opened #498 "Feature request: add code-push collaborator promote <appName> <person>"
Currently, theres no way to change owner in cli, or i'm wrong?

[2017-08-17 09:03] max-mironov commented on #497
Hi @digaus
Could you please share with us a minimum code (and even better exact repro steps of what you are doing) so we can try it on our machines and get out if is is working for us?

[2017-08-17 09:08] digaus commented on #497
@max-mironov
What I wantd to achive is an Ionic App using the management SDK. So I started a new blank Ionic project and ran `npm installed code-push --save`. Then I just imported and tried to use it:

[code]

[2017-08-17 10:10] max-mironov commented on #498
Hi @syzer,
So I believe [Ownership Transfer](https://github.com/Microsoft/code-push/tree/master/cli#ownership-transfer) section of docs can answer your question. BTW do you have any objection in using Mobile Center for this?

[2017-08-17 11:03] syzer commented on #498
Hi @max-mironov ,
No objection.. It's just a bit inconvenient, but can close.

[2017-08-17 11:19] max-mironov commented on #498
Thanks for feedback, we'll try to improve the process going further.

[2017-08-17 11:19] #498 closed

[2017-08-17 12:13] digaus commented on #497
Managed to get it to work with commenting out the superproxy. Works so far , not sure what it does thought
[code]

[2017-08-17 13:12] digaus commented on #410
Found out a bit more:

Via CLI it shows two releases as it should but when fetching via the Management SDK I get a V5 release with active being -1 (looks like history did not get cleared correctly):
[code]

[2017-08-17 13:38] max-mironov commented on #497
@digaus Well, that looks strange but without debugging on sample its hard to say what's wrong here. Can we consider the issue to be resolved so far?

[2017-08-17 13:41] max-mironov commented on #410
@digaus yep that seems to be the same story with this, clearing deployment history can introduce such unpleasant things. Thanks for sharing this!

[2017-08-17 13:54] digaus commented on #497
Yep looks like:)

[2017-08-17 13:54] #497 closed

[2017-08-18 07:03] AdityaChoudhary commented on #247
Hey @NathanaelA Have you released the plugin? -> http://nativescript.tools/product/19

I'm interested to buy.

[2017-08-21 20:27] johnculviner commented on #398
Been playing with it a bit and https://github.com/lisong/code-push-server works great with ```CLI v2.0.2-beta``` CLI (latest right now). Complete feature parity with the Microsoft backend as far as I can tell. Would recommend giving it a shot if you do not want/cannot rely on Microsoft to store and serve up your code push assets.

[2017-08-22 07:11] max-mironov commented on #398
Thanks for verifying @johnculviner. Could be useful if someone would like to go with this solution.

[2017-08-22 20:32] maggialejandro opened #499 "[Error] The session or access key being used is invalid"
Hi. I'm getting this error when trying to _code-push release-react_

When trying to _code-push login_ I get this error:

![captura de pantalla 2017-08-22 a la s 17 27 07](https://user-images.githubusercontent.com/3394748/29585911-2d8a6004-875f-11e7-990d-a5de73d6dfc8.png)

Eventually, I get _Authentication succeeded_ but after I log in it throws me the same error when trying to _code-push release-r

[2017-08-22 20:32] jdgeier commented on #499
I'm getting this error too. I think it may be on Microsoft's side

[2017-08-22 21:00] JesusTSeger commented on #499
Getting this as well. I reached out to Microsoft on twitter so if I hear back then I will pass that onto this thread.

[2017-08-22 21:21] stinju commented on #499
FYI, issue just went away for me.

[2017-08-22 21:32] maggialejandro commented on #499
Yes, it works fine right now.

El 22 ago. 2017 6:21 PM, stinju <notifications@github.com> escribió:

FYI, issue just went away for me.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/code-push/issues/499#issuecomment-324155410>, or mute the thread<https://github.com/notifications/unsubscribe-auth/ADPMvHdH-IHWvP

[2017-08-22 21:33] #499 closed

[2017-08-23 06:51] max-mironov commented on #499
Hey guys, sorry for that, service was temporary unavailable, the issue is mitigated now, thanks for reporting!

[2017-08-23 09:46] freakinruben opened #500 "Option to not write sourcemap when specifying outputDir for React-Native"
I'm trying to bundle my app using the code-push CLI and I would like to specify a custom output directory without generating a source-map file. If I omit the `--sourcemapOutput` option it still get's generated.

Variations I've tried:
[code]

All of the above end up in code-push-cli running the following command:
[code]

The only thing that seems to work is not specifying the `outputDir`.. Is this

[2017-08-23 12:53] max-mironov commented on #500
Hello @freakinruben, you are right, the [following lines of code](https://github.com/Microsoft/code-push/blob/v2.0.2-beta/cli/script/command-executor.ts#L1366) add ` --sourcemap-output` to the final bundle command.

Well, we need somehow to determine wherever we need to generate sourcemaps or not based on `sourcemapOutput ` parameter.

So we need to decide how to forbid sourcemap generation in thi

[2017-08-23 13:26] freakinruben commented on #500
@max-mironov Thanks for the quick reply and I understand your concerns.

I can't speak for most users, but personally I would prefer to only have a sourcemap generated if I explicitly set the option. That way setting the `outputFolder` doesn't influence source-map generation and users that do want the source-map can still have it. This is also more similar to what `react-native bundle` does if I'm

[2017-08-23 13:37] max-mironov commented on #500
@freakinruben
Well, introducing additional flag could be a solution but I'm a little worried about if it is good to have flags on all variety of situations :) (And I believe it could be a lot of them theoretically).

Anyway what can I propose: we can close this issue and postpone it unless we do not have more requests about this feature.
If it is suitable in your case you can go ahead and modify [

[2017-08-24 12:45] freakinruben commented on #500
Sure, we can see if there are more users who are looking for the option to disable source-maps.

[2017-08-24 12:45] #500 closed

[2017-08-24 12:47] max-mironov commented on #500
Sure thing @freakinruben and thanks for cooperation.

[2017-08-29 08:28] herbertbruno commented on #496
@BrianSo i do not have access to the server browser.  i only have access to the terminal. when i try to login it gives me message "Please login to Mobile Center in the browser window we've just opened.
Enter your token from the browser: "

Is there any other way to get the token manually

[2017-08-29 08:35] BrianSo commented on #496
@herbertbruno I think you must register your account with a browser, but you can login later without using browser. You will use **access key**.

The following are copied from [https://microsoft.github.io/code-push/docs/cli.html](https://microsoft.github.io/code-push/docs/cli.html)

[2017-08-29 09:23] herbertbruno commented on #496
it works. Thank you

[2017-08-30 01:35] andrewoodleyjr opened #501 "Creating a new branch"
How does one create a new branch?

[2017-08-30 01:41] #501 closed

[2017-09-04 05:46] CogCR opened #502 "Crosswalk / 503 error on Dependencies"
Hi,
Since Saturday, one of links required for build  is generating error.
Can we have these cloned and hosted on Azure to avoid these issues.

Thanks

Thanks

[2017-09-04 08:47] sergey-akhalkov commented on #502
Hi @CogCR, thanks for reaching us.
Could you please clarify - are you trying to build your app via Mobile Center or on your local machine?
Also, have you seen this temporary workaround https://stackoverflow.com/a/46013326 ?

[2017-09-04 08:54] CogCR commented on #502
Awesome. Will try the same and update. I am unable to use mobile center  as it still does not support cordova but only supports react. Thanls.

[2017-09-04 08:57] sergey-akhalkov commented on #502
@CogCR, got it, please let me know if workaround helps.
By the way, I believe the issue does not relate to CodePush itself, so I'm closing this.

Please feel free to create new issue if you have any questions or see any issues.

[2017-09-04 08:57] #502 closed

[2017-09-04 09:10] CogCR commented on #502
Thanks Sergey for immediate help. This issue is not releated to codepush but download01.org was down.
Resolution for anybody who hits this later although this is already documented in stackoverflow:

A) Find the last working version at this location: Assuming this is X.X.X.X
In my case, the current version of X.X.X.X was 23.53.589.4:
**$APP_DIR\platforms\android\build\intermediates\exploded-aar\or

[2017-09-05 14:12] newyankeecodeshop opened #504 "CodePush downloads prior version for patch binary release"
We are using `code-push-cli@2.0.2-beta`.

We have a React Native application using CodePush. The CodePush server is not obeying the documentation regarding minor versions and patch versions. We have deployed code for a version `2.3`. According to the documentation:

However, when we deployed (via TestFlight) a new version of the app `2.3.1`, the CodePush server was returning the latest production

[2017-09-05 14:25] sergey-akhalkov commented on #504
Hi @newyankeecodeshop, thanks for reaching us.

Could you please confirm if the issue you have is the same as here https://github.com/Microsoft/code-push/issues/400#issuecomment-281279417

If so, the behaviour you are experiencing is not the issue at all - it is how semver works. Probably we should add some notes about this in docs to avoid confusion in future.

To fix the issue you can patch your

[2017-09-05 15:40] newyankeecodeshop commented on #504
Yes @sergey-akhalkov that is the same issue. I see that is how semver works, but why doesn't the CodePush server convert `2.3` to `2.3.0` before passing the value to the semver logic? That is what your documentation says and also is a more appropriate behavior for CodePush, don't you think? As your documentation also states, a semver range expression can be used, so if the developer's intent is to

[2017-09-05 16:16] sergey-akhalkov commented on #504
CodePush server does not convert 2.3 to 2.3.0 because in case the customer really wants to publish an update that targets to 2.0 - he'll be unable to do that due to the server will convert it to 2.0.0, but customer wants to apply his update to 2.0.x, not to 2.0.0.
That is the reason why we shouldn't change current logic, otherwise, it will produce unexpected behavior.

To avoid the issue we'll upd

[2017-09-05 16:20] newyankeecodeshop commented on #504
I guess my argument is that, if a customer wants to apply his update to 2.0.x, why not require them to publish with `2.0.x`? I agree there is a change in behavior, but the current behavior is less intuitive.
Updating the documentation would be helpful.

[2017-09-05 16:27] sergey-akhalkov commented on #504
Agreed, but it's how the semver works and I believe we should not require from customer to publish 2.0.x instead of 2.0 because CodePush relates on semver and semver [allows both variants](https://github.com/npm/node-semver#advanced-range-syntax).

So I'm closing the issue, please feel free to open or create new in case of any questions or issues. Thank you.

[2017-09-05 16:27] #504 closed

[2017-09-05 21:52] ReneKrewinkel opened #505 "New Website Logo: People of the Park"
Name: People of the Park
App Store url: https://itunes.apple.com/nl/app/people-of-the-park/id1276036755
Logo: https://api.xhiby.com/image-cache/911b0f3d1aad319395133537c0a31f7a/icon/people-of-the-park.svg

[2017-09-05 22:44] joshuapinter commented on #229
Any update to how difficult it would be to use the calculated string instead of having to explicitly set the `--targetBinaryVersion`?

I've got a similar thing where I'm doing this:

[code]

[2017-09-05 23:03] apolishch opened #506 "Get details of code push deployment"
Is it possible to find out what the version of code deployed to a code-push deployment is (e.g. a Git Sha or similiar)

[2017-09-06 06:30] max-mironov commented on #506
Hi @apolishch, unfortunately I believe it is not. Probably you could put this information manually in the [description](https://github.com/Microsoft/code-push/tree/master/cli#description-parameter) parameter when releasing  new code-push update, although it is not super handy it could be a solution sometimes.

[2017-09-06 09:20] sergey-akhalkov commented on #505
Hi @nionata, your logo was added, thanks for this!

[2017-09-06 09:20] #505 closed

[2017-09-06 11:03] sergey-akhalkov commented on #229
Hi @joshuapinter, this feature looks difficult and I'm afraid if it even not possible to implement it, please let me explain why and let me know if I'm wrong - one or all of the variables in the `"${versionMajor}.${versionMinor}.${versionPatch}"` string can represent some calculations that developer implemented to compute the values of those variables, so without execution of gradle script we cann

[2017-09-06 15:15] pkwak-sf opened #507 "CodePush from CI"
Hello. I'm wondering if there is a way to publish on a CI machine/VM (CircleCI/azure mobile-center/etc) without logging into a user-account with username/pw on that machine.

Eg, by using a key or something, like
`> code-push release-react [app name] [platform] --key [some-key]`

Thanks!

[2017-09-06 15:35] sergey-akhalkov commented on #507
Hi @pkwak-sf, thanks for reaching us.

You are probably looking for access keys, please take a look at this article https://github.com/Microsoft/code-push/tree/master/cli#access-keys and let me know if it helps.

Please also let me know if you have any other questions.

[2017-09-06 16:14] pkwak-sf commented on #507
Exactly what I was after! Thank you!

[2017-09-06 16:14] #507 closed

[2017-09-06 16:48] apolishch commented on #506
Follow up question:

Is it possible to download (from the command line, the Azure GUI, or otherwise) the code that is in a particular deployment?

[2017-09-06 16:54] joshuapinter commented on #229
@sergey-akhalkov It's simpler than that but I imagine you would still need to execute gradle to get the final values. we literally just use `def` to make it easier to set the correct version and ensure that the `versionCode` represents it correctly.

No worries, for now we'll just use `--targetBinaryVersion`.

[2017-09-06 16:57] sergey-akhalkov commented on #506
Hi @apolishch, yes, it's possible to download CodePush update contents:
[code]
The `blobUrl` field contains link to zip that you can download.

Please let me know if it helps or if you have any other questions.

[2017-09-06 16:57] apolishch opened #508 "[Android] Multi Deployment - (React Native) App always crashes"
After following the instructions here:
https://microsoft.github.io/code-push/docs/react-native.html#link-8

I have the following contents of my `app/build.gradle`:

[code]

[code]

Finally my `MainApplication.java`:
[code]

When I run:
`react-native run-android`, this behaves as you would expect, e.g. Crash Reporting is installed, Firebase analytics does not run, and the local bundle is loaded

Wh

[2017-09-06 17:03] apolishch commented on #506
@sergey-akhalkov thanks so much! that is exactly what I was looking for :)

[2017-09-06 21:01] max-mironov commented on #506
Thanks for quick reply @apolishch, I believe we can close the issue at that moment. Please feel free to reach us in case you have more q's.

[2017-09-06 21:01] #506 closed

[2017-09-07 06:08] max-mironov commented on #508
Hey @apolishch, regarding to this section: https://github.com/Microsoft/react-native-code-push#android try to change `staging` config name to `releaseStaging` in accordance with the following:

[2017-09-07 06:57] fenglu09 opened #509 "Cannot get update after rollback。"
In my production environment， there are `70` rollbacks in one of my version.
And I found that，those device has rollbacked could not update to the version has rollbacked.
Is there any way let those `70` devices udpate to the newest version?
It would be better if the devices has rollbacked could get update in the next update check.
[code]
 `code-push` version: `2.0.1-beta`

[2017-09-07 07:15] max-mironov commented on #509
Hey @fenglu09, so that's true and update that was once rolled back shouldn't be applied any more due to this [check](https://github.com/Microsoft/react-native-code-push/blob/master/CodePush.js#L362).

So you can produce new update targeting the same binary version and code push should try to apply it again to those devices. If they would be rolled back again then this update shouldn't be applied a

[2017-09-07 07:30] fenglu09 commented on #509
Thanks for you reply. If I produce new update targeting the same binary version, those devices has updated success will receive update again. It will make a bad user experience.
If I can produce update targeting some ` label`,  It will be better.

[2017-09-07 07:44] max-mironov commented on #509
@fenglu09 I completely understand your concerns here but I believe that our release command doesn't have an option to determine whether it should be applied only to those devices that were already rolled back.
Probably if you are on react-native you could try e.g. [ON_NEXT_SUSPEND](https://github.com/Microsoft/react-native-code-push/blob/master/docs/api-js.md#installmode) install mode to improve u

[2017-09-07 07:50] fenglu09 commented on #509
Unfortunately , I'm on `Corodva`.  Is it possible  to support release update  target on `label`  or Update that was once rolled back  can be applied again ?

[2017-09-07 08:03] max-mironov commented on #509
I'm not aware of any plans of supporting this feature in the nearest time, but what do you think of using
`syncOptions.ignoreFailedUpdates = false` in your case? This way update will be installed even if it was rolled back previously.
Well, its not an ideal solution but you can add some modifications to the SDK to add e.g. max number of retries and limit the attempts to install that update to some

[2017-09-07 08:16] fenglu09 commented on #509
Maybe `syncOptions.ignoreFailedUpdates = false` is a solution.
 How can I get the reason why the update was rolled back ?

[2017-09-07 08:19] max-mironov commented on #509
@fenglu09 probably you could use some kind of crash reporting tools for that but please see similar question in cordova-code-push repository for more details: https://github.com/Microsoft/cordova-plugin-code-push/issues/140

[2017-09-07 08:21] fenglu09 commented on #509
Thanks for your help !  I'll  close this issue.

[2017-09-07 08:21] #509 closed

[2017-09-07 09:36] apolishch commented on #508
After changing the buildType to `releaseStaging` the problem persists

[2017-09-07 10:20] max-mironov commented on #508
@apolishch got it, just to clarify, are you running `react-native run-android --variant staging` or `react-native run-android --variant releaseStaging`?

[2017-09-07 11:35] apolishch commented on #508
@max-mironov `react-native run-android --variant=releaseStaging`
When running in simulator, this results in a permanent white screen
When running on device, this results in an identical crash report to the one above

[2017-09-07 13:02] max-mironov commented on #508
@apolishch also can you please verify if we need to change ` stagingCompile 'com.balsikandar.android:crashreporter:1.0.9'` to ` releaseStagingCompile 'com.balsikandar.android:crashreporter:1.0.9'` in this case?

[2017-09-07 13:41] apolishch commented on #508
@max-mironov Yup that was done

[2017-09-08 10:21] AndrewJack commented on #461
@BretJohnson Has the "Ownership Transfer" feature been removed from the Mobile centre I cannot find it, after following the above steps?

We are trying to transfer from a User to an Organisation.

[2017-09-08 10:28] AndrewJack commented on #461
Never mind - found the option. You have to create the organisation with the same account you wish to transfer from.

[2017-09-08 11:01] sergey-akhalkov commented on #508
Hi @apolishch, please take a look at https://github.com/Microsoft/react-native-code-push/issues/991#issuecomment-328074153 - it might help you.